<span class='previewMedia'>
<%=
  size = media_size_for_version(version)
  image_tag plugin_model.media_file.thumbnail.thumb(size[:area], format: 'jpeg', frame: 0).url if (defined? plugin_model.media_file.thumbnail.stored? && plugin_model.media_file.thumbnail.stored?)
%>
<%
	media_id = plugin_model.media_file.id
	if (version.to_s != "icon" && version.to_s != "thumbnail")
%>
		<!-- This renders the Media type/source thumbnail along with a popover guide to the icons -->
		<div class="previewMediaCaption">
			<div class="mediaTips">
				<span class="mediaTips_<%= media_id %> infoIcon" data-toggle="popover" data-trigger="hover" data-placement="top" role="button"><div class="previewMediaIcon" title="Local File"><i class="fa fa-file" aria-hidden="true"></i></div></span>
			</div>
		
			<script>
				$(function(){
					$('.mediaTips_<%= media_id %>').popover({
						html: true,
						content: function(){
							return $('.popover_<%= media_id %>').html();
						}
					});
				});
			</script>
			<div class="mediaTipsPopover popover_<%= media_id %>">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						Type<br/>
						<i class='fa fa-image'></i> Image <br/>
						<i class='fa fa-video-camera'></i> Video <br/>
						<br/>
						Source<br/>
						<i class='fa fa-institution'></i> UMMA <br/>
						<i class='fa fa-youtube'></i> Youtube <br/>
						<i class='fa fa-flickr'></i> Flickr<br/>
						<i class='fa fa-vimeo'></i> Vimeo<br/>
						<i class='fa fa-file'></i> Local File<br/>
				  	</div>
				</div>
			</div> 
	  	</div>
	  	<!-- End Media guide and thumbnail section -->
<%
	end
%>
</span>