<%=
    if /\Aimage\/.*\Z/ =~ media_file.media_content_type
      image_tag media_file.media.url(:medium)
      # this for some reason crashes my browser right now ... will have to investigate later
      #elsif /\Avideo\/.*\Z/ =~ media_file.media_content_type
      #video_tag media.url, :size => '600x400', controls: true, autobuffer: true
    elsif /\Aapplication\/pdf\Z/ =~ media_file.media_content_type
      image_tag media_file.media.url(:medium)
    end
%>


<% if media_file.media.url %>
  <p>
    <strong>Media Original:</strong>
    <%= link_to 'Download', media_file.media.url %>
  </p>
  <p>
    <strong>Media properties:</strong>
    Name: <%= media_file.media_file_name %>, Type: <%= media_file.media_content_type %>, Updated at <%= media_file.media_updated_at %>, File size: <%= media_file.media_file_size %>
  </p>
<% end %>
