<div class="row">
  <div class="col-sm-10">
    <H1>Dashboard</H1>
  </div>
  <div class="col-sm-2 text-right">
    <H1>
      <div class="btn-group" role="group">
        <a class="btn btn-default btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New &nbsp;<i class="fa fa-plus-circle fa-3" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
          <li><%= link_to('New Resource', new_resource_path, class:'btn btn-xs btn-noBg')  %></li>
          <li><%= link_to('New Collection', new_collection_path, class:'btn btn-xs btn-noBg')  %></li>
        </ul>
      </div>
    </H1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <H4>Your Learning Collections/Resources</H4>
    <div class="dbUnit"><form>
      <div class="row">
        <div class="col-sm-4">
          <input type="text" name="search" class="form-control input-sm" placeholder="Enter search terms" id="dashboardSearch"><button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
      </div><!-- end row -->
    </form></div><!-- end dbUnit -->
    <div class="dbUnit"><HR/></div>
    <div id="dashboardResourceList" class="dbResourceList">
      <% @resources.each do |resource| %>
          <div class="dbUnit">
            <div><b><%= resource.title %></b> (<%= resource.resource_type_for_display %>) [<%= (resource.access == 1) ? "Published" : "Not published" %>]</div>
            <%= ((resource.subtitle.length > 0) ? "<p>" + resource.subtitle + "</p>" : "").html_safe %>
            <div>
              <%= link_to '<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Preview'.html_safe, resource_preview_path(resource), class:'btn btn-default btn-xs' %>
              <%= link_to '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit'.html_safe, edit_resource_path(resource), class:'btn btn-default btn-xs' %>
              <div class="btn-group">
                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to '<span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Fork'.html_safe, fork_resource_path(resource), class:'btn btn-xs btn-noBg', method: :post %></li>
                  <li><%= link_to '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> '.html_safe + ((resource.access == 0) ? "Publish" : "Unpublish"), publish_resource_path(resource), class:'btn btn-xs btn-noBg', method: :post %></li>
                  <!--	<li><a href="#" class="btn btn-xs btn-noBg"><span class="glyphicon glyphicon-share aria-hidden="true"></span> Share</a></li>-->
                  <li role="separator" class="divider"></li>
                  <li><%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete'.html_safe, resource, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-noBg' %></li>
                </ul>
              </div>
            </div>
          </div>
          <HR/>
      <% end %>
    </div>
  </div><!-- end col -->
  <div class="col-sm-6">
    <H4>
      Your Activity
    </H4>
    <div class="dbUnit"><form>
      <div class="row">
        <div class="col-sm-12">
          Your last 20 actions
        </div>
      </div><!-- end row -->
    </form></div><!-- end dbUnit -->
    <div class="dbResourceList">
    <div class="dbUnit"><HR/></div>
    <%
      @activity_history.each do |h|
    %>
    <div class="dbUnit">
      <p><span class="small"><%= h[:datetime] %></span>
        <br/><%= h[:event] %>  <%= !h[:deleted] ? link_to(h[:title], h[:item]) : h[:title] %>  (<%= h[:item_type] %>) <%= time_ago_in_words(h[:created_at]) %> ago
      </p>
      <HR/>
    </div>
    <% end %>
      </div>
    <H4>
      Your Stats
    </H4>
    <div class="dbUnit">
      <%= c = @resources.where({resource_type: Resource::RESOURCE}).count %> resource<%= c == 1 ? '' : 's' %></p>
      <%= c = @resources.where({resource_type: Resource::COLLECTION}).count %> collection<%= c == 1 ? '' : 's' %></p>
    </div><!-- end dbUnit -->
  </div><!-- end col -->
</div><!-- end row -->
<div class="row">
  <div class="col-sm-12">
    <H4>
      <i class='fa fa-bookmark' aria-hidden='true'></i> &nbsp;Favorites
    </H4>
    <div class="dbUnit">
      <div class="row">
        <div class="col-sm-4">
          <input type="text" name="search" class="form-control input-sm" placeholder="Enter search terms" id="favoritesSearch"><button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
      </div><!-- end row -->
    </div>
    <div class="dbUnit"><HR/></div>
    <div class="dbUnit">
      <div class="row">
        <div id="favoritesList">
        <%
          @favorites.each do |f|
          	next if (!f.resource)
          %>
        <div class="col-sm-2 dbFavoriteContainer">
          <div class="dbFavorite" id="dbFavorite<%= f.id %>">
            <%= link_to("<i class='fa fa-times' aria-hidden='true'></i>".html_safe, remove_favorite_path(f), remote: true, method: :post, class: "cornerButton dbFavoriteDeleteControl", data: {id: f.id}) %>

            <%=
              if (((m = f.resource.media_files.first)) && (m.sourceable))
                link_to(f.resource.media_files.first.sourceable.preview(:thumbnail), f.resource)
              else
                # placeholder
                "<div class='favorite-placeholder'></div>".html_safe
              end
            %>
            <div>
             <%= link_to(f.resource.title, f.resource) %>
            </div>
          </div>
        </div><!--end col -->
        <% end %>
          </div>
      </div><!-- end row -->
    </div><!-- end dbUnit -->
  </div><!-- end col -->
</div><!-- end row -->