<div class="row">
  <div class="col-sm-10">
    <H1>Dashboard</H1>
  </div>
  <div class="col-sm-2 text-right">
    <H1>
      <div class="btn-group" role="group" id="new_materials">
        <a class="btn btn-default btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New &nbsp;<i class="fa fa-plus-circle fa-3" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
          <li><%= link_to('New Resource', new_resource_path, class:'btn btn-xs btn-noBg')  %></li>
          <li><%= link_to('New Collection', new_collection_path, class:'btn btn-xs btn-noBg')  %></li>
        </ul>
      </div>
    </H1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 tour-collections-resources">
    <H4>Your Learning Collections/Resources</H4>
    <div class="dbUnit"><form>
      <div class="row">
        <div class="col-sm-4">
          <input type="text" name="search" class="form-control input-sm" placeholder="Enter search terms" id="dashboardSearch"><button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
      </div><!-- end row -->
    </form></div><!-- end dbUnit -->
    <div class="dbUnit"><HR/></div>
    <div id="dashboardResourceList" class="dbResourceList">
      <% @resources.each do |resource| %>
          <div class="dbUnit">
            <div><b><%= resource.title %></b> (<%= resource.resource_type_for_display %>) [<%= (resource.access == 1) ? "Published" : "Not published" %>]</div>
            <%= ((resource.subtitle.length > 0) ? "<p>" + resource.subtitle + "</p>" : "").html_safe %>
            <div>
              <%= link_to '<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Preview'.html_safe, get_resource_view_path(resource, user_signed_in?), class:'btn btn-default btn-xs' %>
              <%= link_to '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit'.html_safe, edit_resource_path(resource), class:'btn btn-default btn-xs' %>
              <div class="btn-group">
                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to '<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Copy and Customize'.html_safe, fork_resource_path(resource), class:'btn btn-xs btn-noBg', method: :post %></li>
                  <li><%= link_to '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> '.html_safe + ((resource.access == 0) ? "Publish" : "Unpublish"), publish_resource_path(resource), class:'btn btn-xs btn-noBg', method: :post %></li>
                  <!--	<li><a href="#" class="btn btn-xs btn-noBg"><span class="glyphicon glyphicon-share aria-hidden="true"></span> Share</a></li>-->
                  <li role="separator" class="divider"></li>
                  <li><%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete'.html_safe, resource, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-noBg' %></li>
                </ul>
              </div>
            </div>
          <HR/>
          </div>
      <% end %>
    </div>
  </div><!-- end col -->
  <div class="col-sm-6 tour-activity">
    <H4>
      Your Activity
    </H4>
    <div class="dbUnit"><form>
      <div class="row">
        <div class="col-sm-12">
          Your last 20 actions
        </div>
      </div><!-- end row -->
    </form></div><!-- end dbUnit -->
    <div class="dbResourceList">
    <div class="dbUnit"><HR/></div>
    <%
      @activity_history.each do |h|
    %>
    <div class="dbUnit">
      <p><span class="small"><%= h[:datetime] %></span>
        <br/><%= h[:event] %>  <%= !h[:deleted] ? link_to(h[:title], h[:item]) : h[:title] %>  (<%= h[:item_type] %>) <%= time_ago_in_words(h[:created_at]) %> ago
      </p>
      <HR/>
    </div>
    <% end %>
      </div>
    <H4>
      Your Stats
    </H4>
    <div class="dbUnit">
      <%= c = @resources.where({resource_type: Resource::RESOURCE}).count %> resource<%= c == 1 ? '' : 's' %></p>
      <%= c = @resources.where({resource_type: Resource::COLLECTION}).count %> collection<%= c == 1 ? '' : 's' %></p>
    </div><!-- end dbUnit -->
  </div><!-- end col -->
</div><!-- end row -->
<div class="row">
  <div class="col-sm-12 tour-favorites">
    <H4>
      <i class='fa fa-bookmark' aria-hidden='true'></i> &nbsp;Favorites
    </H4>
    <div class="dbUnit">
      <div class="row">
        <div class="col-sm-4">
          <input type="text" name="search" class="form-control input-sm" placeholder="Enter search terms" id="favoritesSearch"><button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
      </div><!-- end row -->
    </div>
    <div class="dbUnit"><HR/></div>
    <div class="dbUnit">
      <div class="row">
        <div id="favoritesList">
        <%
        if(@favorites) 
          @favorites.each do |f|
          	next if (!f.resource)
          %>
        <div class="col-sm-2 dbFavoriteContainer">
          <div class="dbFavorite" id="dbFavorite<%= f.id %>">
            <%= link_to("<i class='fa fa-times' aria-hidden='true'></i>".html_safe, remove_favorite_path(f), remote: true, method: :post, class: "cornerButton dbFavoriteDeleteControl", data: {id: f.id}) %>

            <%=
              if (((m = f.resource.media_files.first)) && (m.sourceable))
                link_to(f.resource.media_files.first.sourceable.preview(:thumbnail), f.resource)
              else
                # placeholder
                "<div class='favorite-placeholder'></div>".html_safe
              end
            %>
            <div>
             <%= link_to(f.resource.title, f.resource) %>
            </div>
          </div>
        </div><!--end col -->
        <% end %>
         <% end %>
          </div>
      </div><!-- end row -->
    </div><!-- end dbUnit -->
  </div><!-- end col -->
</div><!-- end row -->
<script type="text/javascript">
	jQuery(document).ready(function() {
		exch_tour = new Tour({
			name:"ExchangeTour",
			steps: [{
				title: 'Welcome to the Exchange',
				content: 'The Exchange gives you tools to explore, create and manage sets of resources so that you can use them to learn, teach and collaborate!<br/><br/>All of the tools of the Exchange are available from here, your <strong>Dashboard</strong><br/><br/>Click "Next" to take a tour of the available tools and options in the Exchange, or else feel free to explore the site! A <a href="/user_guide" target="_blank">User Guide</a> is available for reference on creating and editing materials in the Exchange.',
				orphan: true
			},{
				title: 'The Dashboard',
				element: '.tour-dashboard',
				placement: 'top',
				content: 'The Dashboard provides an overview of your current materials, recent activity, saved items and collaborations. From here you can create new materials, edit existing ones, share them and search for other users (or your own!) materials<br/><br/>Lets break down each of these options by their sections.',
				orphan: true
			},{
				title: 'Create a New Resource or Collection',
				element: '#new_materials',
				placement: 'left',
				content: 'Resources and Collections are the core of the Exchange so get started by creating your first materials!<br/><br/>Collections provide organization and description, grouping together Resources and other Collections.<br/><br/>Resources describe specific objects and events, and can have images, video and audio files depicting them.<br/><br/>Learn more about <a href="/user_guide#resource_new" target="_blank">Resources</a> and <a href="/user_guide#collection_new" target="_blank">Collections</a>'
			},{
				title: 'Find a Resource or Collection',
				element: '.tour-search-form',
				placement: 'left',
				content: 'The Exchange also allows you to search for other user’s Resources and Collections.<br/></br/>If you find something you like you can copy (or “fork”) it and edit it for your own needs and projects.<br/><br/>The search bar also shows you the materials you’ve created as well as artworks from the UMMA Collections you can add as Media.<br/><br/>More information is available on <a href="/user_guide#basic_search" target="_blank">Search and Advanced Search</a>'
			},{
				title: 'Your Collections &amp; Resources',
				element: '.tour-collections-resources',
				placement: 'right',
				content: 'Once you’ve created or forked Collections and Resources, they will appear in this column. From here you can open them for editing, preview their layout and share them with other users or publish them to the web!<br/><br/>The search bar at top allows you to quickly find any materials you have created.<br/><br/>Materials can also be deleted from this section'
			},{
				title: 'Your Activity',
				element: '.tour-activity',
				placement: 'left',
				content: 'Here you will be able to see your recent activity and return to recent Resources and Collections by clicking any item listed in the activity log'
			},{
				title: 'Favorites',
				element: '.tour-favorites',
				placement: 'top',
				content: 'Clicking the favorite flag on any Collection or Resource will add it to your favorites. Track ongoing work, save the work of other’s for future reference or use this however best suits your needs!'
			},{
				title: 'Getting Started!',
				orphan: true,
				content: 'That’s it! Get started by creating a Collection or Resource, or by searching for what other users have created and go from there!<br/><br/>For more information on the tools and options in the Exchange see our <a href="/user_guide" target="_blank">User Guide</a> at any time for an in depth explanation.'
			}],
			container: "body",
			debug: true,
			backdrop: true,
			orphan: false,
			template: '<div class="popover tour"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div><div class="popover-navigation"><button class="btn btn-default" data-role="end">End tour</button><button class="btn btn-default" data-role="prev">« Prev</button><span data-role="separator">\t</span><button class="btn btn-default" data-role="next">Next »</button></div></div>'
		});
		localStorage.clear();
		
		exch_tour.init();
		if (!Cookies.get('toured')){
			exch_tour.start();
			Cookies.set('toured', true, {expires: 1/288});
		}
});
</script>
