<div class="panel panel-primary">
  <div class="panel-body">
    <%= simple_form_for @media_file do |f| %>
      <%= f.error_notification %>

      <%= f.input :title %>
      <%= f.input :copyright_license, collection: Resource.license_types, :include_blank => false %>
      <%= f.input :copyright_notes %>
      <%= f.input :access, as: :select, include_blank: false %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
