<div id="addMediaForm" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addMediaModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <h2 class="modal-title" id="addMediaFormLabel">Add new media</h2>
      </div>

      <% media_file = MediaFile.new %>
      <% instances = media_file.ext_media_classes_instances %>

      <%= simple_form_for(@media_file, :remote => true, html: { id: 'addMediaFormElements', :multipart => true, data: { :url => '/media_files', :format => :js}}) do |f| %>
          <div class="panel panel-primary">
            <div class="panel-body">
              <%= f.error_notification %>

              <div id="form-status">
                  <div class="flash-notice" id="form-status-message"></div>
              </div>


              <%= f.input :caption, :as => :summernote %>
              <%= f.input :copyright_license, collection: Resource.license_types, :include_blank => false %>
              <%= f.input :copyright_notes, :as => :summernote %>
              <%= f.input :access, as: :select, include_blank: false %>

			  <ul class="nav nav-tabs">
				<% instances.each_with_index do |p,i| %>
					<% if (p.class.name == 'CollectiveaccessLink')    # hide CollectiveAccess plugin (only used for data import, not for direct user interaction)
						 break
					  end
					%>
					<li<% if i==0 %> class="active"<% end %>>
					  <a data-toggle="tab" href="#<%= p.class.name %>"><%= p.class.header %></a>
					</li>
				<% end %>
			  </ul>

			  <div class="tab-content">
				<% instances.each_with_index do |p,i| %>
					<% if (p.class.name == 'CollectiveaccessLink')
						 break
					   end
					%>
					<div id="<%= p.class.name %>" class="tab-pane fade <% if i==0 %>in active<% end %>">
					  <p><%= p.render_form %></p>
					</div>
				<% end %>
			  </div>
				<%= hidden_field(:media_file, :resource_id, :value => @resource.id) %>
              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
			  <%= f.button :submit %>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>
