<div id="addMediaForm" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addMediaModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <h2 class="modal-title" id="addMediaFormLabel">Add new media</h2>
      </div>

      <% media_file = MediaFile.new %>
      <% instances = media_file.ext_media_classes_instances %>

      <%= simple_form_for(@media_file, :remote => true, html: { id: 'addMediaFormElements', :multipart => true, data: { :url => '/media_files', :format => :js}}) do |f| %>
          <div class="panel panel-primary">
            <div class="panel-body">
              <%= f.error_notification %>

              <div id="form-status">
                  <div class="flash-notice" id="form-status-message"></div>
              </div>
			  <div id="create-form-radios" class="captionRadios">
				<label class="control-label">Caption Type</label><br/>
				<%= f.collection_radio_buttons :caption_type, [[1, "Custom"], [2, "None"], [3, "Short"], [4, "Long"]], :first, :last %>
			  </div>
			  <div id="create-form-caption">
              	<%= f.input :caption, :as => :summernote %>
              </div>
			  <div id='create-form-caption-display' class="captionDisplay"></div>
              <%= f.input :copyright_license, collection: Resource.license_types, :include_blank => false %>
              <%= f.input :copyright_notes, :as => :summernote %>
              <%= f.input :access, as: :select, include_blank: false %>

			  <ul id="create-form-tabs" class="nav nav-tabs">
				<% instances.each_with_index do |p,i| %>
					<% if (p.class.name == 'CollectiveaccessLink')    # hide CollectiveAccess plugin (only used for data import, not for direct user interaction)
						 break
					  end
					%>
					<li<% if i==0 %> class="active"<% end %>>
					  <a data-toggle="tab" href="#<%= p.class.name %>"><%= p.class.header %></a>
					</li>
				<% end %>
			  </ul>

			  <div class="tab-content">
				<% instances.each_with_index do |p,i| %>
					<% if (p.class.name == 'CollectiveaccessLink')
						 break
					   end
					%>
					<div id="<%= p.class.name %>" class="tab-pane fade <% if i==0 %>in active<% end %>">
					  <p><%= p.render_form %></p>
					</div>
				<% end %>
			  </div>
				<%= hidden_field(:media_file, :resource_id, :value => @resource.id) %>
              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
			  <%= f.button :submit %>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>
<script>
	var short_caption = '<h4>Short Caption</h4><p>Will be formatted as:</p><p>Artist<br/>Title</p>'
	var long_caption = '<h4>Short Caption</h4><p>Will be formatted as:</p><p>Artist<br/>Title<br/>Date Created<br/>Medium | Support<br/>Credit Line<br/>Catalog Number</p>'
	$(document).ready(function(){
		$('#create-form-caption-display').hide();
		$('#create-form-radios #media_file_caption_type_1').prop('checked', true);
		$('#create-form-tabs li').click(function(){
			var last_clicked = $('#create-form-tabs li').index(this);
			if(last_clicked != 0){
				$('.captionRadios').hide();
				$('#create-form-caption-display').hide();
				$('#create-form-caption').show();
				$('#create-form-caption .summernote').prop('disabled', false);
			} else {
				$('.captionRadios').show();
			}
		});
		$('#create-form-radios').click(function(){
			caption_val = $("#create-form-radios input:radio[name = 'media_file[caption_type]']:checked").val();
			if(caption_val == 1){
				$('#create-form-caption-display').hide();
				$('#create-form-caption').show();
				$('#create-form-caption .summernote').prop('disabled', false);
			} else if(caption_val == 2){
				$('#create-form-caption-display').show().html('<h4>No Caption</h4>');
				$('#create-form-caption .summernote').prop('disabled', true);
				$('#create-form-caption-display').show();
				$('#create-form-caption').hide();
				var caption_text = ' ';
			} else if(caption_val == 3) {
				$('#create-form-caption-display').show().html(short_caption);
				$('#create-form-caption .summernote').prop('disabled', true);
				$('#create-form-caption-display').show();
				$('#create-form-caption').hide();
			} else if(caption_val == 4) {
				$('#create-form-caption-display').show().html(long_caption);
				$('#create-form-caption .summernote').prop('disabled', true);
				$('#create-form-caption-display').show();
				$('#create-form-caption').hide();
			}
		});
	});
</script>