<div class="modal fade" id="new_media_file" tabindex="-1" role="dialog" aria-labelledby="newMediaFile" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newMediaFile">Create new media</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for MediaFile.new, authenticity_token: true do |f| %>
          <%= f.error_notification %>
          <%= f.input :title %>
          <%= f.input :copyright_license, collection: Resource.license_types, :include_blank => false %>
          <%= f.input :copyright_notes %>
          <%= f.input :access, as: :select, include_blank: false %>
          <%= f.button :submit %>
          <%= f.hidden_field :resource_id, :value => @resource.id %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
