<h1>Editing Media File</h1>

<%= render 'form' %>

<% if @media_file.sourceable %>
  <%= @media_file.sourceable.render_form %>

  <div class="panel panel-primary">
    <div class="panel-body">
      <%= @media_file.sourceable.preview 300, 168 %>
    </div>
  </div>
<% else %>

  <% instances = @media_file.ext_media_classes_instances %>

  <ul class="nav nav-tabs">
    <% instances.each_with_index do |p,i| %>
      <li<% if i==0 %> class="active"<% end %>>
        <a data-toggle="tab" href="#<%= p.class.name %>"><%= p.class.header %></a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% instances.each_with_index do |p,i| %>
      <div id="<%= p.class.name %>" class="tab-pane fade <% if i==0 %>in active<% end %>">
        <p><%= p.render_form %></p>
      </div>
    <% end %>
  </div>
<% end %>

<hr/>

<%= link_to 'Show', @media_file %> |
<%= link_to 'Back', media_files_path %>
