<h1>Editing Media File</h1>

<%= render 'form' %>

<% if @media_file.sourceable %>
  <%= render "#{@media_file.sourceable.class.to_s.pluralize.underscore}/form" %>
<% else %>
  <% @media_file.sourceables_underscored.each do |s| %>
      <%= render "#{s}/form" %>
  <% end %>
<% end %>

<hr/>

<%= link_to 'Show', @media_file %> |
<%= link_to 'Back', media_files_path %>
