<h1>Editing Media File</h1>

<%= render 'form' %>

<% if @sourceable %>
  <%= render "#{@sourceable.class.to_s.pluralize.underscore}/form" %>
<% else %>
  <% MediaPlugin.repository.each do |plugin| %>
      <%= render "#{plugin.to_s.pluralize.underscore}/form" %>
  <% end %>
<% end %>

<hr/>

<%= link_to 'Show', @media_file %> |
<%= link_to 'Back', media_files_path %>
