<p id="notice"><%= notice %></p>

<h1>Listing Media Files</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Source Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_files.each do |media_file| %>
      <tr>
        <td><%= media_file.title %></td>
        <td><%= link_to 'Show', media_file %></td>
        <td><%= link_to 'Edit', edit_media_file_path(media_file) %></td>
        <td><%= link_to 'Destroy', media_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media file', new_media_file_path %>
