<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @media_file.title %>
</p>

<p>
  <strong>Source:</strong>
  <%= @media_file.source %>
</p>

<p>
  <strong>Media Original:</strong>
  <%= link_to "Download", @media_file.media.url %>
</p>

<%= image_tag @media_file.media.url(:medium) %>
<%= image_tag @media_file.media.url(:thumb) %>

<%= link_to 'Edit', edit_media_file_path(@media_file) %> |
<%= link_to 'Back', media_files_path %>
