<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @media_file.title %>
</p>

<% if @media_file.resource %>
  <p>
    <strong>Related resource:</strong>
    <%= link_to(@media_file.resource.title, resource_path(@media_file.resource))  %>
  </p>
<% end %>

<%= link_to 'Edit', edit_media_file_path(@media_file) %> |
<%= link_to 'Back', media_files_path %>
