<div class="row">
	<div class="col-sm-12">
		<H4>
			Sign Up
		</H4>
		<div class="panel panel-default">
    		<div class="panel-body">
    			<div class="row">
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				  <%= devise_error_messages! %>
				  <div class="form-group col-sm-6">
					<%= f.label :name %>
					<%= f.text_field :name, class:'form-control', autofocus: true %>
				  </div>

				  <div class="form-group col-sm-12">
					<%= f.label :email %>
					<%= f.email_field :email, class:'form-control' %>
				  </div>				  
				  <div class="form-group col-sm-6">
					<%= f.label :password %>
					<% if @validatable %>
					<em>(<%= @minimum_password_length %> characters minimum)</em>
					<% end %><br />
					<%= f.password_field :password, autocomplete: "off", class:'form-control' %>
				  </div>

				  <div class="form-group col-sm-6">
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
				  </div>
				  <div class="form-group col-sm-12">
				    <div class="row">
				      <div class="col-sm-4">
				  	    <%= recaptcha_tags %>
				      </div>
					  <div class="row-sm-6">
					    <h4 class="flashMessage"><%= flash[:recaptcha_error] %></h4>
  					  </div>
  					</div>
				  </div>
				  <div class="form-group col-sm-12">
					<%= f.submit "Sign up", class:"btn btn-default btn-md" %>
				  </div>
				  <div class="form-group col-sm-12">
				  	<br/>Already registered? 
					<%= render "devise/shared/links" %>
				  </div>
				<% end %>
				</div><!-- end row -->
			</div><!-- end panel-body -->
		</div><!-- end panel -->
	</div><!-- end col -->
</div><!-- end row -->