<%
   if @media_file.sourceable && @media_file.sourceable.class == LocalFile
     local_file = @media_file.sourceable
   else
     local_file = LocalFile.new
   end
%>

<div class="panel panel-primary">
  <div class="panel-body">
    <%= simple_form_for([@media_file, local_file]) do |f| %>
    <%= f.error_notification %>

      <%= f.input :file %>

    <div class="form-actions">
      <% if local_file.id %>
        <%= link_to 'Delete?', [@media_file, local_file], method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <%= f.button :submit %>
    </div>
    <% end %>

<!-- hacked img preview -->
    <% if local_file.id %>
      <%=
          if /\Aimage\/.*\Z/ =~ local_file.file_content_type
            image_tag local_file.file.url(:medium)
            # this for some reason crashes my browser right now ... will have to investigate later
            #elsif /\Avideo\/.*\Z/ =~ file_content_type
            #video_tag file.url, :size => '600x400', controls: true, autobuffer: true
          elsif /\Aapplication\/pdf\Z/ =~ local_file.file_content_type
            image_tag local_file.file.url(:medium)
          end
      %>
    <% end %>
  </div>
</div>
