<p id="notice"><%= notice %></p>

<h1>Listing Local Files</h1>

<table>
  <thead>
    <tr>
      <th>Media</th>
      <th>Media fingerprint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @local_files.each do |local_file| %>
      <tr>
        <td><%= local_file.media %></td>
        <td><%= local_file.media_fingerprint %></td>
        <td><%= link_to 'Show', local_file %></td>
        <td><%= link_to 'Edit', edit_local_file_path(local_file) %></td>
        <td><%= link_to 'Destroy', local_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Local file', new_local_file_path %>
