<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @sourceable.file %>
</p>

<p>
  <strong>File fingerprint:</strong>
  <%= @sourceable.file_fingerprint %>
</p>

<%= link_to 'Edit', edit_local_file_path(@sourceable) %> |
<%= link_to 'Back', local_files_path %>
