<%
	col = 0
	thumb = false
%>
<%
	if @show_header
%>
<div class="row">
  <div class="col-md-12 text-center">
    <% if(@result.total_entries == 0) %>
        <h2 class="welcomeHeading">No results found for <em><%= sanitize(@query) %></em></h2>
   	 <% elsif (@query_proc == '*') %>
   	 	<h2 class="welcomeHeading">Showing <%= @result.total_entries.to_s %> objects and resources in the Exchange</h2>
   	 <% else %>
   	 	<h2 class="welcomeHeading">Showing <%= @result.total_entries.to_s %> objects and resources for <em><%= @query_proc %></em></h2>
    <% end %>
  </div>
</div>
<%
	end
%>

<form class="searchPaging">
	<div class="searchFormElement">
		<nobr>Sort by <%= select_tag("sort", options_for_select(sortOptions(), @sort_default), {id: "welcomeSort"}) %></nobr>
	</div>
</form>
<% if @refine and @refine["_all"] and (@refine["_all"].values.reduce(0) {|sum, v| sum = sum + v.length } > 0) %>
	<div id="results-filters">
		<strong>Filters: </strong>
		<% format_refine_filters(@refine, "_all").each do |r| %>
			<%= r[:field] %>: <em> <%= r[:value] %></em>
			<a href="#" data-remove_id="<%= r[:filter] %>" class="removeFilter"><i class="fa fa-times" aria-hidden="true"></i></a>
		<% end%>
	</div>
<% end%>


<div class="panel-welcome" id="welcome_results">
	<div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="collection_object_results" class="row" data-type="collection_object">
				<% @result.each do |r| %>
					<%= render 'welcome_result_item', result: r %>
				<% end  %>
			</div>
			
			<div class="infinite-pagination"></div>
			<div class="infinite-pagination-message"></div>
			<% Exchange::WelcomeSearchLinkRenderer.set_data(type: 'collection_object', query: @query_proc) %>
			<%= will_paginate @result, renderer: Exchange::WelcomeSearchLinkRenderer %>
		</div>
	</div>
</div>

<script>
	jQuery(document).ready(function() {
		jQuery(function() {
			if ($('.infinite-pagination').size() > 0) {
				$(window).on('scroll', function() {
					var more_posts_url = $('.infinite-pagination a.next_page').attr('href');
					var bottom_distance = 20;

					if (more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - bottom_distance) {
							$('.infinite-pagination-message').html('<i class="fa fa-cog fa-spin fa-2x fa-fw"></i> Loading...');
							$.get(more_posts_url, function(data) {
							$('.infinite-pagination-message').html('');
							$('#welcome_results').append(data);
						});
						$('.infinite-pagination a.next_page').remove();
					}
				});
			}
		});
	});
</script>