<% content_for :page_title do %>
  <title>Welcome to the Exchange</title>
<% end %>
<div class="row featureBox">
  <div class="col-md-6">
    <%= image_tag('home_small.jpg') %>
  </div>
  <div class="col-md-6">
    <div class="featureBoxText">
      <H2>Welcome to UMMA Exchange</H2>
      <p>
        Sed interdum nibh sapien, ut finibus tortor vehicula sed. Aliquam erat volutpat. In hac habitasse platea dictumst. Ut eleifend, nulla vel lobortis fringilla, purus magna dictum tortor, ac hendrerit leo turpis in nunc.
      </p>
      <p class="text-center">
        <% if user_signed_in? %>
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
              <%= link_to('Your Dashboard', '/dashboard', class:'btn btn-default btn-lg btn-green')  %> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            </div>
            <div class="btn-group" role="group">
              <a class="btn btn-default btn-lg btn-green dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New &nbsp;<i class="fa fa-plus-circle fa-3" aria-hidden="true"></i></a>
              <ul class="dropdown-menu">
          		<li><%= link_to('New Resource <i class="fa fa-info-circle dbResourceTip pull-right"></i>'.html_safe, new_resource_path, class:'btn btn-xs btn-noBg')  %></li>
          		<li><%= link_to('New Collection<i class="fa fa-info-circle dbCollectionTip pull-right"></i>'.html_safe, new_collection_path, class:'btn btn-xs btn-noBg')  %></li>
        	  </ul>
        	  <script>
        		$(document).ready(function(){
        		  $('.dbResourceTip').popover({
        			title: "What is a Resource?",
        			content: 'An individual item in the Exchange covering one topic, item or idea.',
        			placement: "left",
        			trigger: "hover",
        		  });
        		  $('.dbCollectionTip').popover({
        			title: "What is a Collection?",
        			content: 'A group of Resources that illustrates a common theme or concept (i.e. for a course).',
        			placement: "left",
        			trigger: "hover"
        		  });
        		});
        	  </script>
            </div>
          </div>

          <p><strong><a href="/user_guide#what_is_Exchange" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> What is UMMA Exchange?</a></strong></p>
      <% else %>

          <%= link_to('Login', new_user_session_path, class:'btn btn-default btn-lg btn-green')  %>
          &nbsp;&nbsp;&nbsp;
          <%= link_to('Register', new_user_registration_path, class:'btn btn-default btn-lg btn-green')  %>
      <% end %>
      </p>
    </div>
  </div>
</div>
    <%
      if (@featured_content_set && @featured_content_set.featured_content_set_items)
    %>
<div class="fullDivideWrapper"><div class="fullDivide"></div></div>
<div class="row hpFeatures">

    <%
        i = 0
        style = ""
        @featured_content_set.featured_content_set_items.each do |item|
        	i = i + 1
        	if i == 5
        		break
        	end
        	if(i == 1)
%>
				<div class='col-sm-6'>
				<H1><%= sanitize(@featured_content_set.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)) %>
<% 
				if (@featured_content_set.subtitle.chop.length > 0)
%>
        			<p><%= @featured_content_set.subtitle %></p>
<%
				end
%>
				</H1>
<% 
    		end
        	if((i == 1) || (i == 3))
        		style = "col-sm-10 col-sm-offset-2"
        	else
        		style= "col-sm-9 col-sm-offset-1"
        	end
    %>
            <div class="row">
              <div class="<%= style.html_safe %>">
                <%= link_to(item.resource.media_files.first.sourceable.preview(:medium), resource_path(item.resource_id)) %>
                <h3><%= (item.title.chop.length > 0) ? sanitize(item.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)) : sanitize(item.resource.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)) %></H3>
              </div>
            </div>
<%
			if(i == 2)
%>
				</div><div class='col-sm-6'>
<%
			end
%>
        <% end %>
  </div>
</div><!-- end row -->
<div class="row">
	<div class="col-sm-12 text-center">
		<br/><br/>
<%
		if @featured_content_set
%>
			<%= link_to("More", featured_load_feature_path(@featured_content_set.id), class:'btn btn-default btn-lg btn-green') %>
<%		
		else
%>
			<%= link_to("Explore Featured Content", featured_path, class:'btn btn-default btn-lg btn-green') %>
<%
		end
%>
	</div>
</div>
    
    <% end %>
