<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<%= devise_error_messages! %>
		<% flash.each do |key, value| %>
       		<div class="flash-error <%= key %>"><%= value %></div>
    	<% end %>
		
<div class="form-group">
	<%= render "devise/shared/omniauth_links" %>
	<%= link_to "<div class='icon'><i class='fa fa-sign-in'></i></div> Log in as Exchange User".html_safe, '#', :class => "btn btn-default btn-small oauth-button", :id => "exchange_sign_in" %>
 	<%= link_to "<div class='icon'>".html_safe + image_tag('shibboleth.png') + "</div>Register as new user".html_safe, new_user_registration_path, :class => "btn btn-default btn-small oauth-button" %><br/>	
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'login_new_user'}) do |f| %>
 		  <div class="panel panel-default">
    		<div class="panel-body">   			
			  <div class="row">
				<div class="col-sm-6">
				  <div class="form-group">
					<%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true, class:'form-control' %>
				  </div>
				</div>
				<div class="col-sm-6">
				  <div class="form-group">
					<%= f.label :password %><br />
					<%= f.password_field :password, autocomplete: "off", class:'form-control' %>
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-sm-12">
				  <% if devise_mapping.rememberable? -%>
					<div class="form-group">
					  <%= f.check_box :remember_me %>
					  <%= f.label :remember_me %>
					</div>
				  <% end -%>
				</div>
			  </div>
			  <div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<%= f.submit "Log in", class:"btn btn-default btn-small" %>
					</div>
				</div>
			  </div>
<% end %>
  <div class="form-group">
	<%= render "devise/shared/links" %>
  </div>
			</div><!-- end panel-body -->
		</div><!-- end panel -->
		
	</div><!-- end col -->
</div><!-- end row -->


<script>
	$(document).ready(function(){
		$('#exchange_sign_in').on('click', function(){
			$('#new_user').fadeIn("slow");
		});
	});
	if($('.flash-error').length > 0){
		$('#new_user').show();
	}
</script>