<%
   if @media_file.sourceable && @media_file.sourceable.class == YoutubeLink
     youtube_link = @media_file.sourceable
   else
     youtube_link = YoutubeLink.new
   end
%>

<div class="panel panel-primary">
  <div class="panel-body">
    <%= simple_form_for([@media_file, youtube_link]) do |f| %>
    <%= f.error_notification %>

      <%= f.input :original_link %>

    <div class="form-actions">
      <% if youtube_link.id %>
        <%= link_to 'Delete?', [@media_file, youtube_link], method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <%= f.button :submit %>
    </div>
    <% end %>
    <% if youtube_link.id %>
      <iframe id="youtubePreview<%= youtube_link.id %>" width="560" height="315" src="https://www.youtube.com/embed/<%= youtube_link.key %>" frameborder="0" allowfullscreen></iframe>
    <% end %>
  </div>
</div>
