<p id="notice"><%= notice %></p>

<h1>Listing Youtube Links</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Original link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sourceables.each do |youtube_link| %>
      <tr>
        <td><%= youtube_link.key %></td>
        <td><%= youtube_link.original_link %></td>
        <td><%= link_to 'Show', youtube_link %></td>
        <td><%= link_to 'Edit', edit_youtube_link_path(youtube_link) %></td>
        <td><%= link_to 'Destroy', youtube_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Youtube link', new_youtube_link_path %>
