<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @youtube_link.key %>
</p>

<p>
  <strong>Original link:</strong>
  <%= @youtube_link.original_link %>
</p>

<%= link_to 'Edit', edit_youtube_link_path(@youtube_link) %> |
<%= link_to 'Back', youtube_links_path %>
