<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="">Editing Resource</h3>
      </div>
      <div class="panel-body">

        <%= simple_form_for @resource do |r| %>
          <%= r.error_notification %>

          <%= r.input :resource_type, collection: Resource.resource_types, include_blank: false %>
          <%= r.input :title %>
          <%= r.input :subtitle %>
          <%= r.input :copyright_license, collection: Resource.license_types, include_blank: false %>
          <%= r.input :copyright_notes %>
          <%= r.input :access, as: :select, include_blank: false %>

          <%= r.button :submit %>
        <% end %>

      </div>
    </div>
  </div>
  <% if @media_file %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="">Related Media Files</h3>
        </div>
        <div class="panel-body">
          <% @resource.media_files.each do |f| %>
            <li><%= link_to(f.title, media_file_path(f))  %></li>
          <% end %>
          <br />
          <%= link_to 'New Media File', '#new_media_file', 'data-toggle' => 'modal' %>
        </div>
      </div>
    </div>

    <%= render 'media_file_form' %>
  <% end %>

</div>
