<%= simple_form_for @resource do |r| %>
<div class="panel panel-default">
    <div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<H3><%= (@resource.id) ? '' : 'New ' %><%= (@resource.resource_type == Resource::RESOURCE) ? 'Resource' : 'Collection' %> Information</H3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">

        <%=
          # don't show resource type field – consider as immutable
          r.hidden_field :resource_type, collection: Resource.resource_types, include_blank: false
        %>
						<%= r.input :title, :input_html => {:rows => 1} %>
						<%= r.input :subtitle, :input_html => {:rows => 1} %>
						<%= r.input :copyright_license, collection: Resource.license_types, include_blank: false %>
						<%= r.input :copyright_notes %>
						<%= r.input :access, collection: Resource.access_types, as: :select, include_blank: false %>

            <%= r.input :child_id, :input_html => {:value => params['child_id']}, as: :hidden, include_blank: false %>
            <%= r.input :parent_id, :input_html => {:value => params['parent_id']}, as: :hidden, include_blank: false %>
			</div><!-- end col -->
			<div class="col-md-7">
				<%#= r.input :body_text, as: :wysihtml5, :input_html => {:rows => 14} %>
                <%= r.input :body_text, as: :summernote, :input_html => {:rows => 14} %>
            	<div class="mediaEmbedHelpLink">
                  <a href="#" onCLick="$('.mediaEmbedHelp').slideToggle();">
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i> How do I embed media in the body of my resource?
                  </a>
                </div>

            	<div class="mediaEmbedHelp">
            		Embed media by entering placeholders within the body text in the following format:
            		<blockquote>
            			&lt;media [name] [version] [width=xxx] [height=yyy] [float=left/right]&gt;
            			<br/>Ex. <em>&lt;media my-video thumbnail&gt;</em>
              			<br/>Ex. <em>&lt;media my-video thumbnail width=500 height=300 float=right&gt;</em>
              		</blockquote>
             		Names are shown under each media item. Version, width, height and float are optional.
            </div>
						<div class="pull-right"><%= r.button :submit, "Save" %></div>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end panel-body -->
</div><!-- end panel -->
<% end %>
