<%= simple_form_for @resource do |r| %>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">


        <%= r.error_notification %>

        <%= r.input :resource_type, collection: Resource.resource_types, include_blank: false %>
        <%= r.input :title, :input_html => {:rows => 1} %>
        <%= r.input :subtitle, :input_html => {:rows => 1} %>
        <%= r.input :copyright_license, collection: Resource.license_types, include_blank: false %>
        <%= r.input :copyright_notes %>
        <%= r.input :access, as: :select, include_blank: false %>

        <%= r.button :submit %>


    </div>
  </div>
</div>
<div class="col-md-6">

  <div class="panel panel-default">

    <div class="panel-body">
      <%= r.input :body_text, as: :wysihtml5, :input_html => {:rows => 18} %>
    </div>
  </div>

</div>

<% end %>