<div class="panel panel-primary">
  <div class="panel-body">
    <% if @resource.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

        <ul>
          <% @resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= simple_form_for @resource do |f| %>
      <%= f.input :resource_type, collection: Resource.resource_types, :include_blank => false %>
      <%= f.input :title %>
      <%= f.input :subtitle %>
      <%= f.input :source_type %>
      <%= f.input :source %>
      <%= f.input :copyright_license, collection: Resource.license_types, :include_blank => false %>
      <%= f.input :copyright_notes %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
