<div class="modal modal-wide" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header green-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Close</span></button>
        <% media_file = MediaFile.find(media_id) %>
        <h2 class="modal-title" id="addMediaFormLabel"><%= editable ?  "Edit media" : truncate(sanitize(r_title), length: 60, omission: '...', separator: '<br>', escape: false)  %></h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
            	<div class="col-sm-12 text-center scaleImg">
 		           <%= media %>
        		</div>
        	</div>
        	<% if (!editable) %>
				<div class="row">
					<div class="col-sm-12 text-center scaleImg">
						<div class="col-sm-12">
							<a id="modalSlideshow" href="#" data-dismiss="modal" data-toggle="modal" data-target="#carousel-full" title="Fullscreen slideshow"><i class="fa fa-external-link"></i> Slideshow</a>
						</div>
					</div>
				</div>
			<% end %>
          </div>
          <div class="col-sm-6">
          	<div class="row">
          		<div class="col-sm-12">

					<% if (editable) %>
						<%= simple_form_for(media_file, :remote => false, html: { id: 'editMediaFormElements', data: { :url => '/media_files', :format => :js}}) do |f| %>
							<%= f.error_notification %>
							<div id="form-status">
							  <div class="flash-notice" id="form-status-message"></div>
							</div>
							<% if media_file.get_media_class(media_file.sourceable_type).to_s == 'CollectionobjectLink' %>
								<% 
									col = CollectionobjectLink.find(media_file.sourceable_id)
									rc = Resource.find(col.resource_id)
									cap_fields = JSON.parse(rc.indexing_data)
									short_caption = sanitize(cap_fields['artist'] + '<br/>' + cap_fields['title'])
									material_fields = ''
									if cap_fields['support']
										material_fields = cap_fields['medium'] + ' | ' + cap_fields['support'].to_s
									else
										material_fields = cap_fields['medium']
									end
									long_caption = sanitize(cap_fields['artist'] + '<br/>' + cap_fields['title'] + '<br/>' + cap_fields['date_created'] + '<br/>' + material_fields + '<br/>' + cap_fields['credit_line'] + '<br/>' + cap_fields['idno'])
								%>
								<div id="<%= media_file.id %>_caption_type" class="captionRadios">
									<label class="control-label">Caption Type</label><br/>
									<%= f.collection_radio_buttons :caption_type, [[1, "Custom"], [2, "None"], [3, "Short"], [4, "Long"]], :first, :last %>
								</div>
								
								<script>
									var captions = captions || {}
									captions['<%= media_file.id %>'] = {}
									captions['<%= media_file.id %>']['short_caption'] = '<%= short_caption %>';
									captions['<%= media_file.id %>']['long_caption'] = '<%= long_caption %>';
									$(document).ready(function(){
										var caption_type = '<%= media_file.caption_type %>';
										set_caption_display('<%= media_file.id %>', caption_type);
										$('#<%= media_file.id %>_caption_type').click(function(){
											caption_val = $("#<%= media_file.id %>_caption_type input:radio[name = 'media_file[caption_type]']:checked").val();
											set_caption_display('<%= media_file.id %>', caption_val);
										});
									});
									
								</script>
								
								<div class="<%= media_file.id %>_caption_display captionDisplay">
								</div>
								<div class="<%= media_file.id %>_caption_field">
									<%= f.input :caption, :input_html => {}, :as => :summernote %>
								</div>
									<input id="<%= media_file.id %>_caption_text" type="hidden" name="media_file[caption]" value="">
							<% else %>
								<%= f.input :caption, :input_html => {}, :as => :summernote %>
							<% end %>
							<%= f.input :copyright_license, collection: Resource.license_types, :include_blank => false %>
							<%= f.input :copyright_notes, :input_html => {}, :as => :summernote %>
							<%= f.input :access, :as => :select, :include_blank => false, :collection => [['Yes', 1], ['No', 0]] %>

							<%= hidden_field(:media_file, :resource_id, :value => @resource.id) %>
							<input type="hidden" name='modal_id' value="<%= modal_id %>">

							<%= f.button :submit %>

						<% end %>
					<% else %>
						<%= sanitize(media_file.caption) %>
						<br/>
						<br/>
						<%= media_file.copyright_notes %>
						Media Source: 
		<%
						media_source = media_file.get_media_class(media_file.sourceable_type)
						case media_source.to_s
						when "CollectionobjectLink"
		%>
		<%
						# construct URL for link to UMMA Catalog
						r = Resource.find(media_file.sourceable.resource_id)
						collection_url = r.collection_identifier.gsub(/([0-9]+)\/([0-9.]+)/, 'http://quod.lib.umich.edu/m/musart/x-\1-sl-\2')
		%>
						  UMMA Collection Object<br/>
						  Original Link: <a href="<%= collection_url %>" target="_blank"><%= collection_url %></a>
		<%
						when "FlickrLink"
		%>
						  Flickr<br/>
						  Original Link: <a href="<%= media_file.sourceable.original_link %>" target="_blank"><%= media_file.sourceable.original_link %></a>
		<%
						when "GoogledocsLink"
		%>
						  Googledocs<br/>
						  Original Link: <a href="<%= media_file.sourceable.original_link %>" target="_blank"><%= media_file.sourceable.original_link %></a>
		<%
						when "YoutubeLink"
		%>
						  Youtube<br/>
						  Original Link: <a href="<%= media_file.sourceable.original_link %>" target="_blank"><%= media_file.sourceable.original_link %></a>
		<%
						when "VimeoLink"
		%>
						  Vimeo<br/>
						  Original Link: <a href="<%= media_file.sourceable.original_link %>" target="_blank"><%= media_file.sourceable.original_link %></a>
		<%
						when "SoundcloudLink"
		%>
						  Soundcloud<br/>
						  Original Link: <%= media_file.sourceable.original_link %>
		<%
						when "LocalFile"
		%>
						  Local file upload
		<%
						when "CollectiveaccessLink"
		%>
						  UMMA Collection Object
		<%
						end
		%>
					<br/>
					<%= media_file.get_license_type %>
					<% end %>
				</div>
			</div>
			<hr/>
			<% if (!editable) %>
				<h5>Other Media from this Resource</h5>
					<script>
						$('body').on('click', '#scroll-right_<%= media_file.id %>', function(){
							$("#moResults_<%= media_file.id %>").animate({
								scrollLeft: "+=125px"
							}, "slow");
						});
					</script>
					<script>
						$('body').on('click', '#scroll-left_<%= media_file.id %>', function(){
							$("#moResults_<%= media_file.id %>").animate({
								scrollLeft: "-=125px"
							}, "slow");
						});
					</script>
				<div class="row">
					<div class="col-xs-1 related_scroll">
						<a id="scroll-left_<%= media_file.id %>" href="#" role="button">
							<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
							<span class="sr-only">Move Left</span>
						</a>
					</div>
					<div class="col-xs-10 moWrapper">	
						<div id="moResults_<%= media_file.id %>" class="moContainer">				
							<ul class="moResults">
			
			<%
							count = 0
							@resource.media_files.each do |af| 
				
								if af.sourceable
									if af.access == 1
										if af.sourceable.id.to_s == media_file.sourceable.id.to_s
											next
										else
											count = count + 1
			%>
											<li class="moRelated">
												<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#<%= af.sourceable.class.to_s + af.sourceable.id.to_s %>">
												<%= af.sourceable.preview :thumbnail %>
												<small><%= media_file.title %></small> 
												</a>
											</li>
			<%
										end
									end
								end
							end
			%>
							</ul>
						</div>
					</div>	
					<div class="col-xs-1 related_scroll">
					<a id="scroll-right_<%= media_file.id %>" href="#" role="button">
						<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
						<span class="sr-only">Move Right</span>
					</a>
				</div>
				</div>
			<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function set_caption_display(scope_id, caption_val){
	var caption_field = '.' +  scope_id + '_caption_field';
	var caption_display = '.' +  scope_id + '_caption_display';
	var caption_text_field = '#' + scope_id + '_caption_text';
	console.log(caption_val);
	if(caption_val == 1){
		$(caption_display).hide();
		$(caption_field).show();	
		$(caption_field + ' .summernote').prop('disabled', false);
	} else {
		if(caption_val == 2){
			var caption_head = '<h5>No Caption</h5>';
			var caption_text = ' ';
		} else if(caption_val == 3) {
			var caption_head = captions[scope_id]['short_caption'];
			var caption_text = captions[scope_id]['short_caption'];
		} else if(caption_val == 4) {
			var caption_head = captions[scope_id]['long_caption'];
			var caption_text = captions[scope_id]['long_caption'];
		}
		$(caption_display).show().html(caption_head);
		$(caption_field + ' .summernote').prop('disabled', true);
		$(caption_field).hide();
		$(caption_text_field).prop("value", caption_text);
	}
}
</script>