<%
	@resource.media_files.slice(start, Rails.application.config.x.max_media_per_media_list_page).each do |f| 
    	if f.sourceable
    		target_div = '#' + f.sourceable.class.to_s + f.sourceable.id.to_s
		  	anchor_tag = f.sourceable.class.to_s + f.sourceable.id.to_s + 'Link'
    	%>
        <div class="mediaListIcon" data-media_id="<%= f.id %>" data-access="<%= f.access %>">
          <%= link_to '<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, f, method: :delete, remote: true, data: {confirm: 'Are you sure you want to delete this media?'}, class: 'cornerButton' %>
          <%= link_to (f.sourceable.preview :thumbnail), load_media_modal_path(f, :editable => true, :media_id => f.id.to_i, :resource_id => @resource.id.to_i), :remote => true, :class => 'mediaLoad', :id => anchor_tag, :'data-modal-target' => target_div %>
    	  <small class="slug_<%= f.sourceable.id.to_s %>"><%= sanitize(f.caption) %> (<em><%= f.slug %></em>)</small>
        </div>
        <%=
          # this renders a bootstrap model that is triggered if you click on the preview above
          # it's in a partial because it's about a billion nested divs :-)
          # This modal is intentionally commented out and has been moved to the parent of this partial: edit.html.erb
          # This was done to avoid an issue with text field clipping and the summernote plugin
          # render partial: 'resources/media_file_render_overlay', locals: {media: f.sourceable.render, media_id: f.id.to_s,  modal_id: f.sourceable.class.to_s + f.sourceable.id.to_s, editable: true}
        %>
    <% end %>
<% end %>

<div class="mediaListPaging">
  <% if (start > 0) %>
      <%=
        s = start - Rails.application.config.x.max_media_per_media_list_page
        s = 0 if (s < 0)
        l = '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>' + " Previous " + Rails.application.config.x.max_media_per_media_list_page.to_s
        link_to(l.html_safe, get_media_list_path(@resource, s), remote: true, as: :json, class: 'mediaListPaging') %><br/>
  <% end %>
  <% if (@resource.media_files.count > start + Rails.application.config.x.max_media_per_media_list_page) %>
      <%=
        l = "Next " + Rails.application.config.x.max_media_per_media_list_page.to_s + ' <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>'
        link_to(l.html_safe, get_media_list_path(@resource, start + Rails.application.config.x.max_media_per_media_list_page), remote: true, as: :json, class: 'mediaListPaging')
      %>
  <% end %>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#resource_media_list").sortable();
    });
    exchangeLoadMediaForSummernote();
</script>