  <div class="row">
  <%
  	total_count = 0
	@resource.media_files.offset(start).limit(Rails.application.config.x.max_media_per_media_list_page).each do |f|
	  if f.sourceable
		if f.access == 1
		  if total_count % 4 == 0
%>
			</div><div class="row">
		  <% end %>
			  <div class="col-md-3">
				<div class="thumbnail previewThumbnail">
				  <a class="modalOpen" href="#" id="<%= 'link' + f.sourceable.class.to_s + f.sourceable.id.to_s %>" data-link-target="#<%= f.sourceable.class.to_s + f.sourceable.id.to_s %>Link">
					<%= media_display = f.sourceable.preview :thumbnail %>
				  </a>
				  <div class="caption small">
						<%= 
							if caption.to_i == 1
								sanitize(f.caption)
							end
						%>
					<div class="row">
					  <div class="col-sm-8">
						<% if f.get_media_class(f.sourceable_type).to_s == 'CollectionobjectLink' %>
						  <% if f.display_collectionobject_link == 1 %>
						    <%= link_to "View Object Record".html_safe, get_resource_view_path(f.get_original_resource_id, user_signed_in?) %>
						  <% end %>
						<% end %>
					  </div>
					  <div class="col-sm-4">
						<% if (fzoom = is_zoomable(f)) %>
						  <div class="zoomControls">
							<a href="#" class="leafletZoom" data-dismiss="modal" onclick="$('#mediaViewerModal').removeData('iiif'); jQuery('#mediaViewerModal').data('iiif', '<%= riiif_info_path(fzoom) %>').modal('show'); return false;"><i class="fa fa-search-plus" aria-hidden="true"></i>Zoom</a>
						  </div>
						<% end %>
					  </div>
					</div>
				  </div>
				</div>
			  </div><!-- end col -->
<%
			total_count += 1
		end
	end
end
%>
</div>
<div class="thumbnailPagingContainer row">
  <% if (start > 0) %>
      <% if @resource.media_files.count < start + Rails.application.config.x.max_media_per_media_list_page %>
      	<div class="col-sm-12 text-center">
      <% else %>
      	<div class="col-sm-2 text-left col-sm-offset-4">
      <% end %>
      <%=
        s = start - Rails.application.config.x.max_media_per_media_list_page
        s = 0 if (s < 0)
        l = '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>' + " Previous " + Rails.application.config.x.max_media_per_media_list_page.to_s
        link_to(l.html_safe, load_thumbnails_path(@resource, s, caption), remote: true, as: :json, class: 'thumbnailPaging') %><br/>
  	  </div>
  <% end %>
  <% if (@resource.media_files.count > start + Rails.application.config.x.max_media_per_media_list_page) %>
      <% if start == 0 %>
      	<div class="col-sm-12 text-center">
      <% else %>
      	<div class="col-sm-2 text-right">
      <% end %>
      <%=
        l = "Next " + Rails.application.config.x.max_media_per_media_list_page.to_s + ' <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>'
        link_to(l.html_safe, load_thumbnails_path(@resource, start + Rails.application.config.x.max_media_per_media_list_page, caption), remote: true, as: :json, class: 'thumbnailPaging')
      %>
      </div>
  <% end %>
</div>