<div class="modal fade modal-wide" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="addMediaFormLabel"><%= editable ?  "Edit media" : "Media" %></h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
            	<div class="col-sm-12 text-center scaleImg">
 		           <%= media %>
        		</div>
        	</div>
        	<% if (!editable) %>
				<div class="row">
					<div class="col-sm-12 text-center scaleImg">
						<div class="col-sm-12">
							<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#carousel-full" title="Fullscreen slideshow"><i class="fa fa-expand"></i> Slideshow</a>
						</div>
					</div>
				</div>
			<% end %>
          </div>
          <div class="col-sm-6">
          	<div class="row">
          		<div class="col-sm-12">
					<% media_file = MediaFile.find(media_id) %>

					<% if (editable) %>
						<%= simple_form_for(media_file, :remote => false, html: { id: 'editMediaFormElements', data: { :url => '/media_files', :format => :js}}) do |f| %>
							<%= f.error_notification %>
							<div id="form-status">
							  <div class="flash-notice" id="form-status-message"></div>
							</div>
							<%= f.input :caption, :input_html => {}, :as => :summernote %>
							<%= f.input :copyright_license, collection: Resource.license_types, :include_blank => false %>
							<%= f.input :copyright_notes, :input_html => {}, :as => :summernote %>
							<%= f.input :access, :as => :select, :include_blank => false, :collection => [['Yes', 1], ['No', 0]] %>

							<%= hidden_field(:media_file, :resource_id, :value => @resource.id) %>
							<input type="hidden" name='modal_id' value="<%= modal_id %>">

							<%= f.button :submit %>

						<% end %>
					<% else %>
						<%= sanitize(media_file.caption) %>
						<br/>
						<br/>
						<%= media_file.copyright_notes %>
						Media Source: 
		<%
						media_source = media_file.get_media_class(media_file.sourceable_type)
						case media_source.to_s
						when "CollectionobjectLink"
		%>
		<%
						# construct URL for link to UMMA Catalog
						r = Resource.find(media_file.sourceable.resource_id)
						collection_url = r.collection_identifier.gsub(/([0-9]+)\/([0-9.]+)/, 'http://quod.lib.umich.edu/m/musart/x-\1-sl-\2')
		%>
						  UMMA Collection Object<br/>
						  Original Link: <a href="<%= collection_url %>" target="_blank"><%= collection_url %></a>
		<%
						when "FlickrLink"
		%>
						  Flickr<br/>
						  Original Link: <a href="<%= media_file.sourceable.original_link %>" target="_blank"><%= media_file.sourceable.original_link %></a>
		<%
						when "GoogledocsLink"
		%>
						  Googledocs<br/>
						  Original Link: <a href="<%= media_file.sourceable.original_link %>" target="_blank"><%= media_file.sourceable.original_link %></a>
		<%
						when "YoutubeLink"
		%>
						  Youtube<br/>
						  Original Link: <a href="<%= media_file.sourceable.original_link %>" target="_blank"><%= media_file.sourceable.original_link %></a>
		<%
						when "VimeoLink"
		%>
						  Vimeo<br/>
						  Original Link: <a href="<%= media_file.sourceable.original_link %>" target="_blank"><%= media_file.sourceable.original_link %></a>
		<%
						when "SoundcloudLink"
		%>
						  Soundcloud<br/>
						  Original Link: <%= media_file.sourceable.original_link %>
		<%
						when "LocalFile"
		%>
						  Local file upload
		<%
						when "CollectiveaccessLink"
		%>
						  UMMA Collection Object
		<%
						end
		%>
					<br/>
					<%= media_file.get_license_type %>
					<% end %>
				</div>
			</div>
			<hr/>
			<h5>Other Media from this Resource</h5>
			<div class="moContainer">
					
					<ul class="moResults">
					
	<%
					count = 0
					@resource.media_files.each do |af| 
						
						if af.sourceable
							if af.access == 1
								if af.sourceable.id.to_s == media_file.sourceable.id.to_s
									next
								else
									count = count + 1
	%>
									<li class="moRelated">
										<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#<%= af.sourceable.class.to_s + af.sourceable.id.to_s %>">
										<%= af.sourceable.preview :thumbnail %>
										<div class="moRelatedCaption">
											<small class="slug_<%= af.sourceable.id.to_s %>"><%= sanitize(af.caption) %></small>
										</div>
										</a>
									</li>
	<%
								end
							end
						end
					end
	%>
					</ul>
			</div>	
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
