<div class="panel panel-primary">
  <div class="panel-body">
    <%= form_tag(add_related_resource_path(@resource), remote: true, method: "post", format: :json, class: 'related_resources', id: 'relatedResourcesElements') do |f| %>
        <div id="related-resources-status">
          <div class="flash-notice" id="related-resources-status-message">

          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
            	<label>Search for resource</label>
            	<%= autocomplete_field_tag(:find_resource_id, '', :autocomplete_resource_title, :"data-autocomplete-label" => "Sorry, nothing found.", :size => 40, :id_element => "#to_resource_id", class:'form-control') %>
            	<%= hidden_field_tag(:to_resource_id) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            	<label>Caption</label>
            	<%= text_field_tag(:caption, '', size: 50, class:'form-control') %>
            </div>
          </div>
          <div class="col-md-1">
            <%= hidden_field_tag(:id, @resource.id) %>
            <label>&nbsp;</label>
            <%= submit_tag "Add", class:'btn btn-default btn-sm' %>
          </div>
        </div>
    <% end %>
    <% if @resource.related_resources.count > 0 %>
		<div class="relatedResources">
			<H4><%= @resource.related_resources.count %> Related Item(s)</H4>
		<% @resource.related_resources.each do |r| %>
			<div>
			  <%= link_to ((r.related.is_resource || r.related.is_collection_object) ? "<i class='fa fa-angle-double-right'></i> ".html_safe : "<i class='fa fa-folder-o'></i> ".html_safe) + sanitize(r.related.title), get_resource_view_path(r.related, user_signed_in?), target: "_blank" %>
			  <%= link_to('<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, remove_related_resource_path(@resource) + "?related=" + r.related.id.to_s, {remote: true, class: :relatedResourcesRemoveLink}) %>
			  <% if (r.caption.length > 0) %>
			   <br/><small>
				 <%= r.caption %>
			   </small>
			  <% end %>

			</div>
		<% end %>
		</div>
    <% end %>

  </div>
</div>