<% @resource.children.each do |c| %>
	<div class="collectionContentsItem">   
		<%= link_to ((c.resource_type == Resource::RESOURCE) ? "<i class='fa fa-angle-double-right'></i> ".html_safe : "<i class='fa fa-folder-o'></i> ".html_safe) + c.title, edit_resource_path(c) %><br/>
		<% if(c.resource_type == Resource::RESOURCE) %>
			<% c.media_files.each do |f| %>
				<% if f.sourceable %>
					<%= link_to f.sourceable.preview :thumbnail, edit_resource_path(c) %><br/>
					<% break %>
				<% end %>
			<% end %>
			<small>Resource with <%= c.media_files.count %> media</small>
		<% else %>
			<a href="#" onCLick="$('.childcollection<%= c.id %>').slideToggle(); return false;"><small>Collection with <%= c.children.count %> items <%= (c.children.count) ? "<i class='fa fa-chevron-circle-down'></i>".html_safe : "" %></small></a>
			<% if(c.children.count) %>
				<div class="childcollection childcollection<%= c.id %>">
				<% c.children.each do |g| %>
					<%= link_to ((g.resource_type == Resource::RESOURCE) ? "<i class='fa fa-angle-double-right'></i> ".html_safe : "<i class='fa fa-folder-o'></i> ".html_safe) + g.title, edit_resource_path(g) %><br/>
		
				<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>