<div class="panel panel-primary">
  <div class="panel-body">
    <% if @resource.responses.count > 0 %>
        <div class="relatedContent">
          <H4><%= @resource.responses.count %> Response<%= ((@resource.responses.count > 1) ? "s" : "") %></H4>

          <div class="row">
            <% @resource.responses.each do |r| %>
                <div class="col-md-2">
                  <% r.media_files.each do |f| %>
                      <% if f.sourceable %>
                          <% if f.access == 1 %>
                              <%= link_to (f.sourceable.preview :largeicon), get_resource_view_path(r[:id], false) %><br/>
                              <% thumb = true %>
                              <% break %>
                          <% end %>
                      <% end %>
                  <% end %>
                </div>
                <div class="col-md-3">
                  <%= link_to(strip_tags(r.title), r) %>
                  <br/>
                  By <i><%= r.user.name %> (<%= link_to(r.user.email, "mailto:" + r.user.email) %>)</i>
                  <br/>
                  (<%= r.updated_at.to_time.strftime(Rails.application.config.x.timestamp_format) %>)
                  <br/>
                  <%= (r.response_banned_on == 1) ? link_to("<i class='fa fa-ban' aria-hidden='true'></i>".html_safe + " Will not display", set_response_info_path(@resource.id, r.id), class: "responseBankLink", data: {show: 0}) : link_to("<i class='fa fa-stop-circle' aria-hidden='true'></i>".html_safe + " Will display", set_response_info_path(@resource.id, r.id), class: "responseBankLink", data: {show: 1}) %>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div><!-- end panel-body -->
</div><!-- end panel -->