<%
	if defined?(parent)
		resource = parent
	else
		resource = @resource
	end
	i = 0
%>
<% if resource.resource_hierarchies.count %>
	<div class="row collectionDetailContents">
	<% resource.resource_hierarchies.each do |rel| %>
<%
		i = i+1
%>
		
		<div class="col-sm-4">
			<div class="collectionDetailContentsItem" >
				<%= link_to ((rel.child_resource.is_resource) ? "" : "<i class='fa fa-folder-o'></i> ".html_safe) + rel.child_resource.title, resource_preview_path(rel.child_resource) %><br/>

					<% if(rel.child_resource.is_resource) %>
					  <% if (rel.child_resource.media_files.count > 0) %>
						<% rel.child_resource.media_files.each do |f| %>
							<% if f.sourceable %>
								<%= link_to (f.sourceable.preview :thumbnail), resource_preview_path(rel.child_resource) %><br/>
								<% break %>
							<% end %>
						<% end %>
					  <% else %>
						<%= link_to '<i class="fa fa-picture-o fa-5x fa-align-center thumbPlaceholder" aria-hidden="true"></i>'.html_safe, resource_preview_path(rel.child_resource) %><br/>
					  <% end %>
						<small>Resource with <%= rel.child_resource.media_files.count %> media</small>
					<% else %>
						<% if(rel.child_resource.children.count) %>
								<% thumb = 0 %>
								<% rel.child_resource.children.each do |g| %>
								  <% if(g.media_files.count > 0) %>	
									<% g.media_files.each do |f| %>
										<% if f.sourceable %>
											<%= link_to (f.sourceable.preview :thumbnail), resource_preview_path(rel.child_resource) %><br/>
											<% thumb = 1 %>
											<% break %>
										<% end %>
									<% end %>
									<% if(thumb == 1)
											break
									   end
									%>
								  <% else %>
									<%= link_to '<i class="fa fa-picture-o fa-5x fa-align-center" thumbPlaceholder aria-hidden="true"></i>'.html_safe, resource_preview_path(rel.child_resource) %><br/>
									<% thumb = 1 %>	
								  <% end %>
								<% end %>
						<% end %>
						<small>Collection with <%= rel.child_resource.children.count %> item<%= (rel.child_resource.children.count == 1) ? "" : "s" %></small>
					<% end %>
			</div>
		</div>
<%
		if (i == 3)
			i = 0
%>
			</div><!-- end row -->
			<div class="row collectionDetailContents">
<%
		end
	 end
%>
		</div><!-- end row -->
<% end %>
