<div id="selectResourceCollectionForm" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addMediaModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="addMediaFormLabel">Add to a learning collection</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 text-center">
            Learning Collections are groups of Resources (and/or sub-Collections) with a common theme. 
          </div>
        </div>
        <div class="row" style="margin-top: 30px;">
          <div class="col-md-12 text-center">
            <strong>How would you like to organize this <%= (@resource.is_resource) ? "Resource" : "Collection" %> within a Learning Collection?</strong>
          </div>
        </div>
        <div class="row text-center" style="margin-top: 30px;">
          <div class="col-sm-6 col-md-4 text-center">
            <%= link_to "Add to new Learning Collection", new_collection_with_id_path(@resource.id), {"class": "btn btn-default"} %>
          </div>
          <div class="col-sm-5 text-center">
          <% if (@available_collections.length > 0) %>
          	<div class="row">
				<%= form_tag(set_resource_parent_with_id_path(@resource), method: "post") do %>
					<div class="col-sm-3" style="padding-right: 0px; padding-top:5px;">
                    <small>or add it to:</small>
					</div>
					<div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
					<%=
					  select_tag(:parent_id, options_from_collection_for_select(@available_collections, :id, lambda {|t| strip_tags(t.title)}), class:'form-control width=""')
					%>
					<%= hidden_field_tag(:id, @resource.id) %>
					</div>
					<div class="col-sm-1" style="padding-left: 5px;">
					<%=
					  submit_tag("Add", "class": "btn btn-default", "id": "addToExistingCollection")
					%>
					</div>
				<% end %>
			</div>
            <% end %>
          </div>
          <div class="col-sm-4 col-md-3 text-center">
            <a class="btn btn-default resource-coll-opt-out" data-resource_id="<%= @resource.id.to_s %>" data-dismiss="modal" aria-label="Close">Add it another time</a>
          </div>
        </div>
        <div class="row text-center">
        	<div id="res_collection_optout_perm_container" class="col-sm-4 col-md-3 col-sm-offset-8 col-md-offset-9 text-center">
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
	if(!Cookies.get('rcoll_optout_perm_<%= @resource.id.to_s %>')){
		$('#res_collection_optout_perm_container').html('<small><a href="#" id="res_collection_optout_perm" data-resource_id="<%= @resource.id.to_s %>" data-dismiss="modal" aria-label="collection_opt_out">Don\'t Ask Again</a></small>');
	}
</script>