<%
	if defined?(parent)
		resource = parent
	else
		resource = @resource
	end
	i = 0
	if !defined?(width)
		width = 4
	end
%>
<% if resource.resource_hierarchies.count %>
	<div class="row collectionDetailContents">
	<% resource.resource_hierarchies.each do |rel| %>
<%
		i = i+1
%>
		
		<div class="col-sm-<%= width %>">
			<div class="collectionDetailContentsItem" >
				<div class='titleOver'><%= link_to ((rel.child_resource.is_resource) ? "" : "<i class='fa fa-folder-o'></i> ".html_safe) + rel.child_resource.title, get_resource_view_path(rel.child_resource, user_signed_in?) %></div>

					<% if(rel.child_resource.is_resource) %>
<%
						available_media = 0
						rel.child_resource.media_files.each do |f|
							if f.access == 1
								available_media = available_media + 1
							end
						end
%>
					  <% if (available_media > 0) %>
						<% rel.child_resource.media_files.each do |f| %>

							<% if f.sourceable %>
								<% if f.access == 1 %>
									<%= link_to (f.sourceable.preview :thumbnail), get_resource_view_path(rel.child_resource, user_signed_in?) %><br/>
									<% break %>
								<% end %>
							<% end %>
						<% end %>
					  <% else %>
						<%= link_to '<i class="fa fa-picture-o fa-5x fa-align-center thumbPlaceholder" aria-hidden="true"></i>'.html_safe, get_resource_view_path(rel.child_resource, user_signed_in?) %><br/>
					  <% end %>
					<% else %>
						<% if(rel.child_resource.children.count) %>
							<% thumb = false %>
							<% rel.child_resource.children.each do |g| %>
								<% g.media_files.each do |f| %>
									<% if f.sourceable %>
										<% if f.access == 1 %>
											<%= link_to (f.sourceable.preview :thumbnail), get_resource_view_path(rel.child_resource, user_signed_in?) %><br/>
											<% thumb = true %>
											<% break %>
										<% end %>
									<% end %>
									<% if(thumb == 1)
											break
									   end
									%>
								<% end %>
							<% end %>
							<% if(thumb == false) %>
								<%= link_to '<i class="fa fa-picture-o fa-5x fa-align-center thumbPlaceholder" aria-hidden="true"></i>'.html_safe, get_resource_view_path(rel.child_resource, user_signed_in?) %><br/>
							<% end %>
						<% end %>
					<% end %>
			</div>
			<% if(rel.child_resource.is_resource) %>
				<small>Resource with <%= available_media %> media</small>
			<% else %>
				<small>Collection with <%= rel.child_resource.children.count %> item<%= (rel.child_resource.children.count == 1) ? "" : "s" %></small>
			<% end %>
		</div>
<%
		if (i == (12/width))
			i = 0
%>
			</div><!-- end row -->
			<div class="row collectionDetailContents">
<%
		end
	 end
%>
		</div><!-- end row -->
<% end %>
