<%
	heading_tag = "h4"
	if(@resource.is_collection)
		heading_tag = "h5"
	end
%>
<% if (@resource.in_response_to_resource_id && ((@resource.in_response_to.access == 1) || (@resource.in_response_to.is_collection_object))) %>
    <div class="unit">
      <<%= heading_tag %>>In response to</<%= heading_tag %>>
      <%= link_to(sanitize(@resource.in_response_to.title), @resource.in_response_to) %>
    </div>
<% end %>
<% if (@resource.responses && (@resource.responses.length > 0)) %>

    <% buf = '' %>
    <% @resource.responses.each do |r| %>
        <%
          next if ((r.access == 0) && (!r.is_collection_object))
        %>
        <%
          buf += link_to(sanitize(r.title), r)
        %>
    <% end %>
    <% if (buf.chop.length > 0) %>
        <div class="unit">
          <<%= heading_tag %>>Responses</<%= heading_tag %>>
          <%= buf.html_safe %>
        </div>
    <% end %>
<% end %>