<%
 	i = 1;
	if(@resource.parents.count > 0)
		parent_ids = []
		@resource.parents.each do |parent|
			parent_ids.push(parent.id)
		end
%>
<div class="row">
  <div class="col-sm-12">
	<H4>
	<!--<a href="#" onClick="$('#detailParentInfoPanel<%= i.to_s %>').toggle(); return false;" class="btn btn-noBg btn-lg-icon pull-right" title="Show Learning Collection Information"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>-->
		Part of:
<%
 	@resource.parents.each do |parent|
 		if(!session[:last_collection] || !parent_ids.include?(session[:last_collection]) || parent.id == session[:last_collection])
%>
			<a href="#" onClick="$('.hiddenParentPanel').hide(); $('#detailParentInfoPanel<%= i.to_s %>').toggle(); return false;"><%= sanitize(parent.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)) %></a>
<%=
			if(parent.resource_hierarchies) 
				" <small>(#{parent.resource_hierarchies.count} resource".html_safe + (parent.resource_hierarchies.count == 1 ? ' ' : 's ') + ")</small>".html_safe
			end
%><%=
			if(!session[:last_collection] || !parent_ids.include?(session[:last_collection]))
				if(i < @resource.parents.count)
					", "
				end
			end
%>
<%
			i += 1
		end
	end
%>
	</H4>
<%
 	i = 1
 	@resource.parents.each do |parent|
%>
  	<div class="panel panel-primary hiddenParentPanel" id="detailParentInfoPanel<%= i.to_s %>">
      <div class="panel-body collection_summary_panel">
      	<div class="row">
		  <div class="col-sm-12">
      		<a href="#" onClick="$('#detailParentInfoPanel<%= i.to_s %>').hide(); return false;" class="btn btn-noBg btn-lg-icon pull-right"><i class="fa fa-close" aria-hidden="true"></i></a>
		  	<H5><%= link_to sanitize(parent.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)) + " <i class='fa fa-external-link'></i>".html_safe, get_resource_view_path(parent, user_signed_in?), "class": "" %></H5>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-5">
			<div class="detailBodyText"><%= (parent.body_text) ? sanitize(parent.body_text) : "" %></div>
			<p>
				<% if (parent.copyright_license) %>
				
					  <h5>Copyright</h5>
					  <div><%= parent.get_license_type %>
						<% if (parent.copyright_notes.present?) %>
							(<%= parent.copyright_notes %>)
						<% end  %>
						</div>
				<% end %>
				<% if parent.author_id %>
				  <h5>Created by</h5><%= parent.get_author_name.gsub(/\([\S]+\)/, '') %>
				<% else %>
				  <h5>Created by</h5><%= parent.user.name %>
				<% end %>
				<h5>Last Updated</h5>
				<% if (Time.now.to_i - @resource.updated_at.to_i) > 86400 %>
	    			<%= @resource.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %-d, %Y %l:%M %P").gsub(/(a|p)(m)/, '\1.\2.') %>
	  			<% else %>
	    			<%= time_ago_in_words(@resource.updated_at) + ' ago' %>
	  			<% end %>
	        </p>
		  </div>
		  <div class="col-sm-7 collection_summary_resources">
		   <% if(parent.child_count > 0) %>
			  <h5><%= (parent.child_count == 1) ? parent.child_count.to_s + " Item" : parent.child_count.to_s + " Items"  %> in this Learning Collection</h5>
				<%= render :partial => 'resource_list_grid', :locals => {:parent => parent} %>
			<% end %>

		  </div>
		</div><!-- end row -->
    </div><!-- end panel body --></div><!-- end panel -->
<%
	i += 1
		end
%>
  </div><!-- end col -->
</div><!-- end row -->
<%
		end
%>