<%
	# Set allowed HTML tags/attributes for the body text
	body_tags_allowed = %w(strong em a font b sup sub u img br p span div li ul ol table tr th td i)
	body_attrs_allowed = %w(href style src alt class float target)
%>
<% content_for :page_title do %>
  <title>Exchange: <%= sanitize(@resource.title, :tags => %w()) %></title>
<% end %>
<% if @resource.check_edit_access(current_user) %>
	<div class="row">
	  <div class="col-sm-12">
		<H4>
		  <% if (params['mode'] == :preview) %>
			  Previewing UMMA Collection Object
		  <% end %>
		  <div class="headingButtons">
			<% if (user_signed_in?) %>
				<%= link_to '<span class="glyphicon glyphicon-edit aria-hidden="true"></span> Edit'.html_safe, edit_resource_path(@resource), class:'btn btn-default btn-xs pull-right' %>

				<%# link_to '<span class="glyphicon glyphicon-arrow-up aria-hidden="true"></span> Dashboard'.html_safe, '/dashboard', class:'btn btn-default btn-xs pull-right' %>
			<% end %>
			<%# last_search_button(session, {'class': 'btn btn-default btn-xs pull-right'}) %>
		  </div>
		  <br style="clear: both;"/>
		</H4>
	  </div><!-- end col -->
	</div><!-- end row -->
<% end %>
<%
  parent = @resource.parents.first
  if(parent)
%>
<% if session[:last_collection] %>
	<%= render :partial => 'show_parent_heading.html.erb' %>
<% end %>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-primary" id="detailParentInfoPanel">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-5">
                <div class="detailBodyText"><%= (parent.body_text) ? sanitize(parent.body_text) : "" %></div>
              </div>
              <div class="col-sm-7">
                <% if(parent.child_count > 0) %>
                    <h5><%= (parent.child_count == 1) ? parent.child_count.to_s + " Item" : parent.child_count.to_s + " Items"  %> in this Learning Collection</h5>
                    <%= render :partial => 'resource_list_grid', :locals => {:parent => parent} %>
                <% end %>


                <% if (parent.copyright_license) %>
                    <p>
                    <h5>Copyright</h5>
                    <div><%= parent.get_license_type %>
                      <% if (parent.copyright_notes) %>
                          (<%= parent.copyright_notes %>)
                      <% end  %>
                    </div>
                    </p>
                <% end %>
              </div><!-- end col -->
            </div><!-- end row -->
          </div><!-- end panel body --></div><!-- end panel -->
      </div><!-- end col -->
    </div><!-- end row -->
<%
  end
%>
<div class="row">
  <div class="col-sm-10">
    <p id="notice"><%= notice %></p>

    <!--<H3>UMMA Collection Object</H3>-->
    <H2><%= sanitize(@resource.title, tags: %w(strong em a font b sup sub u i), attributes: %w(href style)) %></H2>
    <div class="row">
      <div class="col-sm-8">
        <div id="resourceCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <%
              counter = 1
              @resource.media_files.each do |f|
            %>
                <div class="item <%= (counter == 1) ? 'active' : '' %>">
                  <%
                    if f.sourceable
                  %>
                      <%= f.sourceable.preview :huge  %>
                      <!--<div class="slideshowCaption"><%= sanitize(f.caption)  %></div>-->

                      <%=
                        # Example of how to output image using IIIF
                      # image_tag(riiif_image_path(f, {size: ',600'}))
                      %>
                      <a href="#" onclick="jQuery('#mediaViewerModal').data('iiif', '<%= riiif_info_path(f) %>').modal('show');"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                  <% end %>
                </div>
            <%
              counter = counter + 1
              end
            %>
          </div><!-- end carousel-inner -->
          <%
            if @resource.media_files.count > 1
          %>
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#resourceCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#resourceCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          <% end %>
        </div><!-- end resourceCarousel -->
      </div><!-- end col -->
      <div class="col-sm-4 collectionObjectDetailText">
        <%= sanitize(@resource.parsed_body_text, tags: body_tags_allowed, attributes: body_attrs_allowed) %>
      </div>
    </div><!-- end row -->
  </div><!-- end col -->
  <div class="col-sm-2 resourceSidePanel">
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="row">

          <div class="col-xs-12 text-left">
            <% if (user_signed_in?) %>
              <%= link_to '<span class="glyphicon glyphicon-arrow-up aria-hidden="true"></span> Dashboard'.html_safe, '/dashboard' %>
            <% end %>
          </div>
          <div class="col-xs-12 text-left">
            <%= last_search_button(session, {'text': '<span class="glyphicon glyphicon-arrow-left aria-hidden="true"></span> Search'.html_safe}) %>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-xs-7 text-left">
            <%=
              link_to('<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Previous'.html_safe, resource_path(@search_previous_resource_id)) if (@search_previous_resource_id)
            %>
          </div>
          <div class="col-xs-5 text-right">
            <%=
              link_to('<i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Next'.html_safe, resource_path(@search_next_resource_id)) if (@search_next_resource_id)
            %>
          </div>
        </div>
        <div class="detailButtonsResource text-center">
          <%= link_to '<i class="fa fa-clone" aria-hidden="true"></i>'.html_safe, fork_resource_path(@resource), method: :post, :title => 'Copy and Customize' %>
          <!-- AddToAny BEGIN -->
			<a class="a2a_dd" href="https://www.addtoany.com/share"><i class="fa fa-share-alt"></i></a>
			<script>
			var a2a_config = a2a_config || {};
			a2a_config.linkname = '<%= sanitize(@resource.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)) %>';
			a2a_config.prioritize = ["facebook", "twitter", "email", "pinterest", "google_plus", "reddit", "wordpress", "tumblr"];
			</script>
		  <!-- AddToAny END -->
          <% if(@resource.settings(:user_interaction).allow_comments > 0) %>
              <a href="#detailComments"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
          <% end %>
          <a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
        </div>
        <div class="unit">
          <% rel_resource = @resource.get_collection_object_references.map {|v| v} %>
          <a role="button" data-toggle="collapse" href="#referencePanel"><H4><%= rel_resource.count %> Related Resource<%= rel_resource.count == 1 ? '' : 's' %></H4></a>
          <div id="referencePanel" class="collapse detailRelatedContentBlockScroll">
            <% rel_resource.each do |v| %>
                <div>
                  <%= link_to sanitize(v.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)), get_resource_view_path(v.id, user_signed_in?) %>
                  <% if(v.parents.count > 0) %>
                      <br />
                      <% if(v.parents.count == 1) %>
                          <%= "(Part of: " + sanitize(v.parents.first.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)) + ")" %>
                      <% else %>
                          <%= "(Part of " + sanitize(v.parents.count.to_s, tags: %w(strong em a font b sup sub u), attributes: %w(href style)) + " Learning Collections)" %>
                      <% end %>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div><!-- end unit -->
        <% if (@resource.copyright_license) %>
            <div class="unit">
              <h4>Copyright</h4>
              <%= @resource.get_license_type %>
              <% if (@resource.copyright_notes.present?) %>
                  (<%= sanitize(@resource.copyright_notes).html_safe %>)
              <% end  %>
            </div>
        <% end %>

        <%# render(partial: 'resources/resource_responses', layout: false) %>
        <% if (current_user && @available_collections_and_resources && (@available_collections_and_resources.length > 0)) %>
        <div class="unit">
          <div id="collectionObjectAdd-status">
            <div class="flash-notice" id="collectionObjectAdd-status-message">

            </div>
          </div>
          <h4>Add to collection</h4>  <form class="collectionObjectAdd"><%=
          select_tag(:add_to_collection_id, options_from_collection_for_select(@available_collections_and_resources, :id, lambda {|t| strip_tags(t.title)}), class:'detailCollectionList', id:'collectionObjectAddToCollectionID')
        %>
          <%= button_tag "<span class='glyphicon glyphicon-plus-sign' aria-hidden='true'></span> Add".html_safe, href: "#", class: "btn btn-noBg btn-xs", id: "collectionObjectAddToCollection", data: {id: @resource.id}  %>
        </form>
        </div>
        <% end %>

      </div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<%= render(partial: 'resources/media_overlay') %>