<%
 	i = 1;
	if(@resource.parents.count > 0)
		parent_ids = []
		@resource.parents.each do |parent|
			parent_ids.push(parent.id)
		end
%>
<div class="row">
  <div class="col-sm-12 navigation-header">
	<H4>
	<!--<a href="#" onClick="$('#detailParentInfoPanel<%= i.to_s %>').toggle(); return false;" class="btn btn-noBg btn-lg-icon pull-right" title="Show Learning Collection Information"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>-->
		Part of:
<%
	parent_collection_resources = []
	parent_collection = Resource.find(session[:last_collection]) if !session[:last_collection].nil? and parent_ids.include?(session[:last_collection])
 	parent_collection = @resource.parents.first if parent_collection.nil?

 	@resource.parents.each do |parent|
 		if(!parent_collection.nil?) and (parent.id == parent_collection.id) 
 			parent_collection.children.each do |r| 
				next if ((!r.can(:view, current_user) and !r.can(:edit, current_user)) or r.is_response(@resource.id))
				parent_collection_resources.push(r)
			end 		
 		end
 		if(!session[:last_collection] || !parent_ids.include?(session[:last_collection]) || parent.id == session[:last_collection])
%>
			<a href="#" onClick="$('.hiddenParentPanel').hide(); $('#detailParentInfoPanel<%= parent.id.to_s %>').toggle(); return false;"><%= sanitize(parent.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)) %></a>
<%=
			if(parent.resource_hierarchies) 
				c = parent_collection_resources.count
				" <small>(#{c} resource".html_safe + (c == 1 ? ' ' : 's ') + ")</small>".html_safe
			end
%><%=
			if(!session[:last_collection] || !parent_ids.include?(session[:last_collection]))
				if(i < @resource.parents.count)
					", "
				end
			end
%>
<%
			i += 1
		end
		
		if(parent.id == session[:last_collection]) 
			parent_collection = parent
		end
	end
%>
 <% 
 	if(!parent_collection.nil?) 
 		next_res = nil
 		prev_res = nil
 		parent_collection_resources.each_cons(3) do |r| 
 			if (r[0].id == @resource.id)
 				next_res = r[1]
 			end
 			if (r[1].id == @resource.id)
 				prev_res = r[0]
 				next_res = r[2]
 			end
 			if (r[2].id == @resource.id)
 				prev_res = r[1]
 			end
 			if !next_res.nil? and !prev_res.nil?
 				break
 			end
 		end 	
%>
<div class="pull-right">
<%=
	if (prev_res) 
 		link_to '<i class="fa fa-arrow-left collection-navigation" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Previous item"></i>'.html_safe, get_resource_view_path(prev_res, user_signed_in?, params[:collection_id])
 	end
%>
<%=  " | " if !next_res.nil? and !prev_res.nil? %>
<%= 
 	if (next_res) 
 		link_to '<i class="fa fa-arrow-right collection-navigation" aria-hidden="true" data-toggle="popover" data-trigger="hover" data-content="Next item"></i>'.html_safe, get_resource_view_path(next_res, user_signed_in?, params[:collection_id])
 	end
%>
</div>
 
		<% end %>
	</H4>
<%
 	i = 1
 	@resource.parents.each do |parent|
%>
  	<div class="panel panel-primary hiddenParentPanel" id="detailParentInfoPanel<%= parent.id.to_s %>">
      <div class="panel-body collection_summary_panel">
      	<div class="row">
		  <div class="col-sm-12">
      		<a href="#" onClick="$('#detailParentInfoPanel<%= parent.id.to_s %>').hide(); return false;" class="btn btn-noBg btn-lg-icon pull-right"><i class="fa fa-close" aria-hidden="true"></i></a>
		  	<H5><%= link_to sanitize(parent.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)) + " <i class='fa fa-external-link'></i>".html_safe, get_resource_view_path(parent, user_signed_in?), "class": "" %></H5>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-5">
			<div class="detailBodyText"><%= (parent.body_text) ? sanitize(parent.body_text) : "" %></div>
			<p>
				<% if (parent.copyright_license) %>
				
					  <h5>Copyright</h5>
					  <div><%= parent.get_license_type %>
						<% if (parent.copyright_notes.present?) %>
							(<%= parent.copyright_notes %>)
						<% end  %>
						</div>
				<% end %>
				<% if parent.author_id %>
				  <h5>Created by</h5><%= parent.get_author_name.gsub(/\([\S]+\)/, '') %>
				<% else %>
				  <h5>Created by</h5><%= parent.user.name %>
				<% end %>
				<h5>Last Updated</h5>
				<% if (Time.now.to_i - @resource.updated_at.to_i) > 86400 %>
	    			<%= @resource.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %-d, %Y %l:%M %P").gsub(/(a|p)(m)/, '\1.\2.') %>
	  			<% else %>
	    			<%= time_ago_in_words(@resource.updated_at) + ' ago' %>
	  			<% end %>
	        </p>
		  </div>
		  <div class="col-sm-7 collection_summary_resources">
		   <% if(parent.child_count > 0) %>
			  <h5><%= (parent.child_count == 1) ? parent.child_count.to_s + " Item" : parent.child_count.to_s + " Items"  %> in this Learning Collection</h5>
				<%= render :partial => 'resource_list_grid', :locals => {:parent => parent, from_collection_id: parent.id} %>
			<% end %>

		  </div>
		</div><!-- end row -->
    </div><!-- end panel body --></div><!-- end panel -->
<%
		end
%>
  </div><!-- end col -->
</div><!-- end row -->
<%
		end
%>
<script>
	$(document).ready(function(){
		 $('.navigation-header i').popover({
		 	placement: 'bottom',
		 	template: '<div class="popover popoverNarrow" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"</div></div>',
		 });
	});
</script>