
<% parent = @resource.parents.first %>
<%= render partial: 'show_parent_heading.html.erb' %>

<div class="row">
  <div class="col-sm-12">
    <H4>
      <% if (params['mode'] == :preview) %>
          Previewing Resource
      <% end %>
      <div class='headingButtons'>
        <% if (user_signed_in?) %>
      <%= link_to '<span class="glyphicon glyphicon-edit aria-hidden="true"></span> Edit'.html_safe, edit_resource_path(@resource), class:'btn btn-default btn-xs' %>

            <%= link_to '<span class="glyphicon glyphicon-arrow-up aria-hidden="true"></span> Dashboard'.html_safe, '/dashboard', class:'btn btn-default btn-xs' %>
        <% end %>
      <%= last_search_button(session, {'class': 'btn btn-default btn-xs'}) %>
	  </div>
      <br style="clear: both;"/>
    </H4>
  </div><!-- end col -->
</div><!-- end row -->

<div class="row">
  <div class="col-sm-10">
    <p id="notice"><%= notice %></p>

    <H2><%= @resource.title.html_safe %></H2>
    <H3><%= @resource.subtitle.html_safe %></H3>
<% if @resource.settings(:text_placement).placement.to_s == "above" %>
	<% if @resource.settings(:text_formatting).show_all == 1 %>
		<% if @resource.settings(:text_formatting).collapse == 1 %>
			<script>
				$(document).ready(function(){
					$('.textSlider').css('max-height', '240px');
				});
			</script>
		<% end %>
		<div class="col-md-12 textSlider" aria-controls="fullTextExpand">
			<p><%= @resource.parsed_body_text.html_safe %></p>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center">
				<a role="button" data-toggle="collapse" href="#fullTextField" aria-expanded="false" aria-controls="fullTextExpand" onclick="$('.hideText').toggle('slow')">
					<hr/>
					<span class="hideText <%= (@resource.settings(:text_formatting).collapse == 1) ? '' : 'collapse' %>" onclick="$('.textSlider').css('max-height', '5000px')"><i class="fa fa-chevron-down" aria-hidden="true"></i> Show More <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
					<span class="hideText <%= (@resource.settings(:text_formatting).collapse == 1) ? 'collapse' : '' %>" onclick="$('.textSlider').css('max-height', '240px')"><i class="fa fa-chevron-up" aria-hidden="true"></i> Show Less <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
					<hr/>
				</a>
			</div>
		</div>
	<% else %>
		<% if @resource.settings(:text_formatting).collapse == 1 %>
			<script>
				$(document).ready(function(){
					$('.textSlider').css('max-height', '0px');
				});
			</script>
		<% end %>
		<div class="col-md-12 textSlider" aria-controls="fullTextExpand">
			<p><%= @resource.parsed_body_text.html_safe %></p>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center">
				<a role="button" data-toggle="collapse" href="#fullTextField" aria-expanded="false" aria-controls="fullTextExpand" onclick="$('.hideText').toggle('slow')">
					<hr/>
					<span class="hideText <%= (@resource.settings(:text_formatting).collapse == 1) ? '' : 'collapse' %>" onclick="$('.textSlider').css('max-height', '5000px')"><i class="fa fa-chevron-down" aria-hidden="true"></i> Show More <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
					<span class="hideText <%= (@resource.settings(:text_formatting).collapse == 1) ? 'collapse' : '' %>" onclick="$('.textSlider').css('max-height', '0px')"><i class="fa fa-chevron-up" aria-hidden="true"></i> Show Less <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
					<hr/>
				</a>
			</div>
		</div>
	<% end %>
<% end %>




<%
	# generate count of publically available media files
	# need to enforce access control
	available_media = 0
	@resource.media_files.each do |f|
		if f.access == 1
			available_media = available_media + 1
		end
	end
			
	case @resource.settings(:media_formatting).mode.to_s
		when "thumbnails"
%>
            <div class="row">
<%
				counter = 0
				@resource.media_files.each do |f|
               		if f.sourceable
						if f.access == 1
							if counter == 4
								counter = 0
%>
								</div>
								<div class="row">
							<% end %>
							  <div class="col-md-3">
									<div class="thumbnail previewThumbnail">
									  <a href="#" data-toggle="modal" data-target="#<%= f.sourceable.class.to_s + f.sourceable.id.to_s %>">
										<%= f.sourceable.preview :thumbnail  %>
									  </a>
									</div>
<%
							begin
								media_display = f.sourceable.render(:large)
							rescue
								media_display = f.sourceable.preview :large	
							end
%>	
<%=
									# this renders a bootstrap model that is triggered if you click on the preview above
									# it's in a partial because it's about a billion nested divs :-)
									render partial: 'media_file_render_overlay', locals: { media: media_display, media_id: f.id.to_s,  modal_id: f.sourceable.class.to_s + f.sourceable.id.to_s, editable: false }
%>
							  </div><!-- end col -->
<%
				
							counter = counter + 1
						end
					end
            	end
%>
            </div><!-- end row -->
        
        <% when "thumbnailsCaption" %>
            <div class="row">
<%
				counter = 0
				@resource.media_files.each do |f|
					if f.access == 1
						if f.sourceable
							if counter == 4
								counter = 0
%>
								</div>
								<div class="row">
							<% end %>
							  <div class="col-md-3">
									<div class="thumbnail previewThumbnail">
									  <a href="#" data-toggle="modal" data-target="#<%= f.sourceable.class.to_s + f.sourceable.id.to_s %>">
										<%= f.sourceable.preview :thumbnail  %>
									  </a>
									  <div class="caption small">
										<%= f.caption.html_safe %>
									  </div>
									</div>
<%
							begin
								media_display = f.sourceable.render(:large)
							rescue
								media_display = f.sourceable.preview :large	
							end
%>	
<%=
									# this renders a bootstrap model that is triggered if you click on the preview above
									# it's in a partial because it's about a billion nested divs :-)
									render partial: 'media_file_render_overlay', locals: { media: media_display, media_id: f.id.to_s,  modal_id: f.sourceable.class.to_s + f.sourceable.id.to_s, editable: false }
%>
							  </div><!-- end col -->
<%
				
							counter = counter + 1
						end
					end
            	end
%>
            </div><!-- end row -->
<%
		when "slideshow"
		  if available_media > 0
%>

            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
				<div class="row carouselNav">
					<div class="col-xs-8 col-xs-offset-2 text-center">
					<% if available_media > 1 %>
						  <a href="#resourceCarousel" role="button" data-slide="prev">
							<i class="control-arrow fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
							<span class="sr-only">Previous</span>
						  </a>
						  <span class="num"></span>
						  <a class="" href="#resourceCarousel" role="button" data-slide="next">
							<i class="control-arrow fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
							<span class="sr-only">Next</span>
						  </a>
					<% end %>
					</div>
					<div class="col-xs-2 text-left">
						<a href="#" data-toggle="modal" data-target="#carousel-full" title="Fullscreen slideshow"><i class="fa fa-expand"></i></a>
					</div>
				</div>
				<div id="resourceCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
<%
				  counter = 1
				  @resource.media_files.each do |f| 
					if f.access == 1
						if f.sourceable 
%>
							
							<div class="item <%= (counter == 1) ? 'active' : '' %>">
									<a href="#" data-toggle="modal" data-target="#<%= f.sourceable.class.to_s + f.sourceable.id.to_s %>">
										<%= f.sourceable.preview :large  %>
									</a>
								
								<div class="captionContainer">
									<div class="slideshowCaption"><%= f.caption.html_safe  %></div>
								</div>
							</div>		
<%
							begin
								media_display = f.sourceable.render :large
							rescue
								media_display = f.sourceable.preview :large	
							end
%>					
<%=
							# this renders a bootstrap model that is triggered if you click on the preview above
							# it's in a partial because it's about a billion nested divs :-)
						
							render partial: 'media_file_render_overlay', locals: { media: media_display, media_id: f.id.to_s,  modal_id: f.sourceable.class.to_s + f.sourceable.id.to_s, editable: false }
%>
<%
							counter = counter + 1
						end
					end
				end
%>
					</div><!-- end carousel-inner -->
				</div><!-- end resourceCarousel -->
				</div>
			</div>
			<script>
				//Generates slide count and position for use above
				var totalItems = $('.item').length;
				$('.num').html('1/'+totalItems+'');
				$('#resourceCarousel').on('slid.bs.carousel', function() {
					currentIndex = ($('.active').index() + 2)/2;
				   $('.num').html(''+currentIndex+'/'+totalItems+'');
				});
			</script>

<!--			<div class="row">
              <div class="col-sm-4 col-sm-offset-4 text-center">
              	<hr/>
				<a href="#" data-toggle="modal" data-target="#carousel-full"><i class="fa fa-desktop"></i> Fullscreen slideshow</a>
				<hr/>
              </div>
            </div>
-->
		 <% end %>
		 
<%
		when "embed"
		  if available_media > 0
			  @resource.media_files.each do |f| 
				if f.sourceable
					if f.access == 1
					 
%>
<%
						begin
							media_display = f.sourceable.render :large
						rescue
							media_display = f.sourceable.preview :large	
						end
%>	
<%=
						render partial: 'media_file_render_overlay', locals: { media: media_display, media_id: f.id.to_s,  modal_id: f.sourceable.class.to_s + f.sourceable.id.to_s, editable: false }	
%>
<%
					end
				end
			end
		  end
%>
		<% end %>
<%=
	# This is in a partial because its a lot of nested divs and duplicates functionality in the main slideshow
	# which is potentially confusing
	# Placing this partial here makes it avaialable regardless of media format setting
	render partial: 'resource_slideshow_fullscreen'
%>
<% if @resource.settings(:text_placement).placement.to_s == "below" %>
    <% if @resource.settings(:text_formatting).show_all == 1 %>
		<% if @resource.settings(:text_formatting).collapse == 1 %>
			<script>
				$(document).ready(function(){
					$('.textSlider').css('max-height', '240px');
				});
			</script>
		<% end %>
		<div class="col-md-12 textSlider" aria-controls="fullTextExpand">
			<p><%= @resource.parsed_body_text.html_safe %></p>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center">
				<a role="button" data-toggle="collapse" href="#fullTextField" aria-expanded="false" aria-controls="fullTextExpand" onclick="$('.hideText').toggle('slow')">
					<hr/>
					<span class="hideText <%= (@resource.settings(:text_formatting).collapse == 1) ? '' : 'collapse' %>" onclick="$('.textSlider').css('max-height', '5000px')"><i class="fa fa-chevron-down" aria-hidden="true"></i> Show More <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
					<span class="hideText <%= (@resource.settings(:text_formatting).collapse == 1) ? 'collapse' : '' %>" onclick="$('.textSlider').css('max-height', '240px')"><i class="fa fa-chevron-up" aria-hidden="true"></i> Show Less <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
					<hr/>
				</a>
			</div>
		</div>
	<% else %>
		<% if @resource.settings(:text_formatting).collapse == 1 %>
			<script>
				$(document).ready(function(){
					$('.textSlider').css('max-height', '0px');
				});
			</script>
		<% end %>
		<div class="col-md-12 textSlider" aria-controls="fullTextExpand">
			<p><%= @resource.parsed_body_text.html_safe %></p>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center">
				<a role="button" data-toggle="collapse" href="#fullTextField" aria-expanded="false" aria-controls="fullTextExpand" onclick="$('.hideText').toggle('slow')">
					<hr/>
					<span class="hideText <%= (@resource.settings(:text_formatting).collapse == 1) ? '' : 'collapse' %>" onclick="$('.textSlider').css('max-height', '5000px')"><i class="fa fa-chevron-down" aria-hidden="true"></i> Show More <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
					<span class="hideText <%= (@resource.settings(:text_formatting).collapse == 1) ? 'collapse' : '' %>" onclick="$('.textSlider').css('max-height', '0px')"><i class="fa fa-chevron-up" aria-hidden="true"></i> Show Less <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
					<hr/>
				</a>
			</div>
		</div>
	<% end %>
<% end %>
	<div class="row">
	  <div class="col-md-12">
	    <div class="row" id="detailTags">
		  
		<% if(@resource.settings(:user_interaction).allow_comments > 0) %>
		  <div class="col-sm-6">
			<a id="commentButton" role="button" data-toggle="collapse" href="#commentPanel"><H4><%= @resource.comments.count %> Comment<%= @resource.comments.count == 1 ? '' : 's' %></H4></a>
			<div id="commentPanel" class="detailComments collapse">
			  <% @resource.comments.each do |c| %>
				<div>
				  <%= c.comment %>
				  <br/><small>&mdash; by <i><%= c.user_name %>  (<%= c.updated_at.to_time.strftime(Rails.application.config.x.timestamp_format) %>)</i></small>
				</div>
			  <% end %>
			  <%= form_tag '/resources/add_comment' do %>
				<%= hidden_field_tag 'id', @resource.id %>
				<div class="form-group">
				  <label>Add Comment</label>
				  <%= text_area_tag 'comment[comment]', nil, class:'form-control' %>
				</div>
				  <%= submit_tag 'Save', class:'btn btn-default btn-sm' %>
			  <% end %>
			</div>
		  </div>
		<% end %>
		<% if (@resource.settings(:user_interaction).allow_tags > 0) %>
			<div class="col-sm-6"> 
			  <a role="button" data-toggle="collapse" href="#tagPanel"><H4><%= @resource.tags.count %> Tag<%= @resource.tags.count == 1 ? '' : 's' %></h4></a>
			  <div id="tagPanel" class="collapse detailComments">
				<%= @resource.tags.map(&:tag).join(", ") %>
				<%= form_tag '/resources/add_tag' do %>
				<%= hidden_field_tag 'id', @resource.id %>
				<div class="form-group">
				  <label>Add Tag</label>
				  <%= text_field_tag 'tag[tag]', nil, class:'form-control' %>
				</div>
				<%= submit_tag 'Save', class:'btn btn-default btn-sm' %>
				<% end %>
			  </div>
			</div>
		  <% end %>
	</div>
  </div>	  
</div>

</div><!-- end col -->
  <div class="col-sm-2 resourceSidePanel">
    <div class="panel panel-primary">
      <div class="panel-body">
		<div class="row">
			<div class="col-xs-7 text-left">
				<a href="#"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Previous</a>
			</div>
			<div class="col-xs-5 text-right">
				<a href="#">Next <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="detailButtonsResource text-center">
			<a href="#" title="Copy and Customize"><i class="fa fa-clone" aria-hidden="true"></i></a>
			<a href="#" title="Share"><i class="fa fa-share" aria-hidden="true"></i></a>
<% if(@resource.settings(:user_interaction).allow_comments > 0) %>
			<a href="#commentButton" onclick="$('#commentPanel').collapse('show')" title="Comment"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
<% end %>
          <span id="favoriteControl"><%= render partial: "favorites/favorite_control", locals: { resource: @resource} %></span>
		</div>
<%
	if(@resource.parents && (@resource.parents.count > 0))
%>
		<div class="unit">	
			
			<a role="button" data-toggle="collapse" href="#lcPanel"><h4>Part of <%= @resource.parents.count %> Learning Collection<%= (@resource.parents.count == 1) ? "" : "s" %></h4></a>
			<!--<H4>More from this learning collection</H4>-->
			
			<div id="lcPanel" class="collapse scrollList">
	<% 
				panelCount = 0
				@resource.parents.each do |p|
	%>
		
					<div>
					<strong><%= link_to p.title.html_safe, get_resource_view_path(p, user_signed_in?) %> <i class="fa fa-external-link-square" aria-hidden="true"></i></strong>
					<br/>
					<a role="button" data-toggle="collapse" href="#collPanel_<%= panelCount %>">
					See <%= p.resource_hierarchies.count %> Included Resource<%= (p.resource_hierarchies.count == 1) ? "" : "s" %> <i class="fa fa-angle-double-down" aria-hidden="true"></i></a></div>
					<div id="collPanel_<%= panelCount %>" class="collapse scrollList">
					<% p.resource_hierarchies.each do |rel| %>
						<div>
						<small>
							<% if (rel.child_resource.is_collection) %>
								<%= link_to "<i class='fa fa-folder-o'></i>".html_safe, get_resource_view_path(rel.child_resource, user_signed_in?) %>
							<% end %>
							<%= link_to rel.child_resource.title, get_resource_view_path(rel.child_resource, user_signed_in?) %>
							<br />
							<%= (rel.child_resource.subtitle.length > 50) ? rel.child_resource.subtitle[0..50] + "..." : rel.child_resource.subtitle %>
						</small><br/>
						</div>
					<% end %>
					</div>
		
				<% panelCount += 1 %>
				<% end %>
			</div>
		</div><!-- end unit -->	
	<% end %>	
<% if @resource.related_resources.count > 0 %>
	  <div class="unit">
		<a role="button" data-toggle="collapse" href="#relatedPanel"><H4><%= @resource.related_resources.count %> Related Resource<%= @resource.related_resources.count == 1 ? '' : 's' %></H4></a>
		<div id="relatedPanel" class="collapse detailRelatedContentBlockScroll">
		<% @resource.related_resources.each do |r| %>
			<div>
			  <%= link_to ((r.related.is_resource) ? "" : "<i class='fa fa-folder-o'></i> ".html_safe) + r.related.title, get_resource_view_path(r.related, user_signed_in?) %>
			  <% if (r.caption.length > 0) %>
			   <br/><small>
				 <%= r.caption %>
			   </small>
			  <% end %>

			</div>
		<% end %>
		</div>
	  </div><!-- end unit -->
<% end %>
        <% if @resource.links.count > 0 %>
            <div class="unit">
              <H4><%= @resource.links.count %> Link<%= ((@resource.links.count > 1) ? "s" : "") %></H4>
              <% @resource.links.each do |c| %>
                  <div>
                    <a href="<%= c.url %>" target="_blank" title="<%= c.url %>"><i class='fa fa-external-link' aria-hidden='true'></i> <%= (c.caption && (c.caption.length > 0)) ? c.caption : ((c.url.length > 20) ? c.url[0..17] + "..." : c.url) %></a>
                  </div>
              <% end %>
            </div>
        <% end %>
<% if(@resource.settings(:user_interaction).allow_tags > 0) %>
	<% if @resource.tags.count > 0 %>
        <div class="unit">
			<H4>Tags</H4>
			<%= @resource.tags.map(&:tag).join(", ") %>
		</div>
    <% end %>
<% end %>
	<div>
	  <% if @resource.author_name && @resource.author_name != ''  %>
	    <h4>Created by</h4><%= @resource.author_name %>
	  <% else %>
	  	<h4>Created by</h4><%= @resource.user.name %>
	  <% end %> 
	  <h4>Last Updated</h4>
	  <% if (Time.now.to_i - @resource.updated_at.to_i) > 86400 %>
	    <%= @resource.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %-d, %Y %l:%M %P").gsub(/(a|p)(m)/, '\1.\2.') %>
	  <% else %>
	    <%= time_ago_in_words(@resource.updated_at) + ' ago' %>
	  <% end %>
    </div>
    <% if (@resource.copyright_license) %>
		<div class="unit">
		  <h4>Copyright</h4>
		  <%= @resource.get_license_type %>
			<% if (@resource.copyright_notes.present?) %>
				(<%= @resource.copyright_notes %>)
			<% end  %>
		</div>
    <% end %>
    </div>
	</div>
  </div><!-- end col -->
</div><!-- end row -->