<%= render :partial => 'show_parent_heading.html.erb' %>

<div class="row">
  <div class="col-sm-12">
    <H4>
      <% if (params['mode'] == :preview) %>
          Previewing Learning Collection
      <% end %>
      <div class="headingButtons">
        <% if (user_signed_in?) %>
            <%= link_to '<span class="glyphicon glyphicon-edit aria-hidden="true"></span> Edit'.html_safe, edit_resource_path(@resource), class:'btn btn-default btn-xs' %>
            <%= link_to '<span class="glyphicon glyphicon-arrow-up aria-hidden="true"></span> Dashboard'.html_safe, '/dashboard', class:'btn btn-default btn-xs' %>
        <% end %>
        <%= last_search_button(session, {'class': 'btn btn-default btn-xs'}) %>
      </div>
      <br style="clear: both;"/>
    </H4>
  </div><!-- end col -->
</div><!-- end row -->



<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-10">
				<div class="row">
				  <div class="col-sm-12">
					<p id="notice"><%= notice %></p>

					<H2><%= sanitize(@resource.title) %></H2>

					<H3><%= sanitize(@resource.subtitle) %></H3>
				  </div>
				</div>
				<div class="row">
				  <% if (@resource.settings(:text_placement).placement.to_s == "above") %>
					  <div class="col-sm-12">
				  <% else %>
					  <div class="col-sm-4">
				  <% end %>
					  <div class="detailBodyText">
						<%= (@resource.body_text) ? sanitize(@resource.body_text) : "" %>
					  </div>
				  </div>
				  <% if (@resource.settings(:text_placement).placement.to_s == "above") %>
					  <div class="col-sm-12">
				  <% else %>
					  <div class="col-sm-8">
				  <% end %>
				  <% if(@resource.child_count > 0) %>
					  <h5><%= (@resource.child_count == 1) ? @resource.child_count.to_s + " Item" : @resource.child_count.to_s + " Items"  %> in this Learning Collection</h5>
					  <% if (@resource.settings(:text_placement).placement.to_s == "above")
						   col = 3
						 else
						   col = 4
						 end %>
					  <%= render :partial => "resource_list_grid", locals: { width: col} %>
				  <% end %>
					</div><!-- end col -->
				</div><!-- end row -->
      		</div><!-- end col 10 -->
      		<div class="col-sm-2 detailButtons text-right">
				<div class="row">
				  <div class="col-sm-12">
					<a href="#" title="Copy and Customize"><i class="fa fa-clone" aria-hidden="true"></i></a>
					<a href="#" title="Share"><i class="fa fa-share" aria-hidden="true"></i></a>
					<% if(@resource.settings(:user_interaction).allow_comments > 0) %>
						<a href="#commentButton"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
					<% end %>
					<span id="favoriteControl"><%= render partial: "favorites/favorite_control", locals: { resource: @resource} %></span>
				  </div>
				</div><!-- end row-->


            	<div class="row">
				  <div class="text-right col-sm-12">
						<div class="unit authorLink">
						  <% if @resource.author_id %>
							  <h5>Created by</h5><%= link_to @resource.get_author_name.gsub(/\([\S]+\)/, ''), '/quick_search/query?utf8=✓&q=author:' + @resource.get_author_name.gsub(/\([\S]+\)/, '') %>
						  <% else %>
							  <h5>Created by</h5><%= link_to @resource.user.name, '/quick_search/query?utf8=✓&q=author:' + @resource.user.name %>
						  <% end %>
						</div>
						<h5>Last Updated</h5>
						<% if (Time.now.to_i - @resource.updated_at.to_i) > 86400 %>
							<%= @resource.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %-d, %Y %l:%M %P").gsub(/(a|p)(m)/, '\1.\2.') %>
						<% else %>
							<%= time_ago_in_words(@resource.updated_at) + ' ago' %>
						<% end %>
						<% if (@resource.copyright_license) %>
							<h5>Copyright</h5>
							<div><%= @resource.get_license_type %>
							  <% if (@resource.copyright_notes.present?) %>
								  (<%= @resource.copyright_notes %>)
							  <% end  %>
							</div>

						<% end %>
						<!--Get all associated Affiliations-->
						  <% if @resource.roles.count > 0 %>
							  <div class="unit authorLink">
								<h5>Created For</h5>
								<%= 
									buf = ''
									@resource.roles.each do |r|
										Rails.application.config.x.user_roles.each do |k,v|
											if r.name == v.to_s
												buf += link_to k.to_s, '/quick_search/query?utf8=✓&q=role:' + v.to_s
												buf += '<br/>'
											end
										end
									end
									sanitize(buf)
								%>
							  </div><!--end unit-->
						  <% end %>
						<%= render(partial: 'resources/resource_responses', layout: false) %>
				  </div><!-- end col -->
            	</div><!-- end row -->
        	</div><!-- end col 2 -->
      </div><!-- end row -->
</div><!-- end panel-body --></div><!-- end panel -->
      
      
      <div class="row">
        <% if @resource.related_resources.count > 0 %>
            <div class="col-sm-3 detailRelatedContentBlock">
              <H4><%= @resource.related_resources.count %> Related</H4>
              <div class="detailRelatedContentBlockScroll">
                <% @resource.related_resources.each do |r| %>
                    <div>
                      <%= link_to ((r.related.is_resource) ? "" : "<i class='fa fa-folder-o'></i> ".html_safe) + sanitize(r.related.title), get_resource_view_path(r.related, user_signed_in?) %>
                      <% if (r.caption.length > 0) %>
                          <br/><small>
                      <%= r.caption %>
                    </small>
                      <% end %>

                    </div>
                <% end %>
              </div>
            </div><!-- end col -->
        <% end %>
        <% if @resource.links.count > 0 %>
            <div class="col-sm-3 detailRelatedContentBlock">
              <H4><%= @resource.links.count %> Link<%= ((@resource.links.count > 1) ? "s" : "") %></H4>
              <div class="detailRelatedContentBlockScroll">
                <% @resource.links.each do |c| %>
                    <div>
                      <a href="<%= c.url %>" target="_blank" title="<%= c.url %>"><i class='fa fa-link' aria-hidden='true'></i> <%= (c.caption && (c.caption.length > 0)) ? c.caption : ((c.url.length > 20) ? c.url[0..17] + "..." : c.url) %></a>
                    </div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    <!--	<div class="row" id="relatedItems">
        <div class="col-sm-12">
          <a role="button" data-toggle="collapse" href="#relatedPanel"><h4>Related Resources and Collections</h4></a>
        </div>
      </div>
    -->
    <% if((@resource.settings(:user_interaction).allow_tags > 0) || (@resource.settings(:user_interaction).allow_comments > 0)) %>

        <div class="row" id="detailTags">
		  <% if(@resource.settings(:user_interaction).allow_comments > 0) %>
			  <!--	<div class="row" id="detailComments"> -->
			  <div class="col-sm-6">
				<% # if @resource.comments.count > 0 %>
				<a id="commentButton" role="button" data-toggle="collapse" href="#commentPanel"><H4><%= @resource.comments.count %> Comment<%= @resource.comments.count == 1 ? '' : 's' %></H4></a>
				<div id="commentPanel" class="detailComments collapse">
				  <% @resource.comments.each do |c| %>
					  <div>
						<%= c.comment %>
						<br/><small>&mdash; by <i><%= c.user_name %>  (<%= c.updated_at.to_time.strftime(Rails.application.config.x.timestamp_format) %>)</i></small>
					  </div>
				  <% end %>
				  <%= form_tag '/resources/add_comment' do %>
					  <%= hidden_field_tag 'id', @resource.id %>
					  <div class="form-group">
						<label>Add Comment</label>
						<%= text_area_tag 'comment[comment]', nil, class:'form-control' %>
					  </div>
					  <%= submit_tag 'Save', class:'btn btn-default btn-sm' %>
				  <% end %>
				</div>
				<% # end %>
			  </div>

		  <% end %>
          <script>
          	$(document).ready(function(){
				$('.tag_keyword').hover(
				function(){ $(this).next(".author_show").show()},
				function(){$(this).next(".author_show").hide()}
				);
			})
		  </script>
          <% if (@resource.settings(:user_interaction).allow_tags > 0) %>
              <div class="col-sm-6">
                <a role="button" data-toggle="collapse" href="#tagPanel"><H4><%= @resource.tags.count %> Tag<%= @resource.tags.count == 1 ? '' : 's' %> &amp; <%= @resource.vocabulary_terms.count %> Keyword<%= @resource.vocabulary_terms.count == 1 ? '' : 's' %></h4></a>
                <div id="tagPanel" class="collapse detailComments">
                  <div class="row">
                    <div class="col-sm-<%= @resource.vocabulary_terms.count > 0 ? '6' : '12' %>">
                      <h5>Tags</h5>
                      <%
                        tag_array = []
                        @resource.tags.each do |t|
                          tag_array << { :t_tag => t.tag.capitalize, :t_user => t.user.name, :t_id => t.id, :t_updated => t.updated_at.to_time.strftime(Rails.application.config.x.timestamp_format) }
                        end
                        tag_array.sort_by!{|a| a[:t_tag]}
                        tag_array.each do |l|
                      %>
                          <span class="tag_keyword"><%= link_to l[:t_tag], '/quick_search/query?utf8=✓&q=tag:"' + sanitize(l[:t_tag] + '"') %></span><span class="author_show"> <small>&mdash; by <%= l[:t_user] + ' (' + l[:t_updated] + ')' %></small></span><br/>
                      <% end %>
                      <%= form_tag '/resources/add_tag' do %>
                          <%= hidden_field_tag 'id', @resource.id %>
                          <br/>
                          <div class="form-group">
                            <label>Add Tag</label>
                            <%= text_field_tag 'tag[tag]', nil, class:'form-control' %>
                          </div>
                          <%= submit_tag 'Save', class:'btn btn-default btn-sm' %>
                      <% end %>
                    </div>
                    <% if @resource.vocabulary_terms.count > 0 %>
                        <div class="col-sm-6">
                          <h5>Keywords</h5>
                          <%# @resource.vocabulary_terms.map(&:term).join(", ") %>
                          <%
                            key_array = []
                            @resource.resources_vocabulary_terms.each do |v|
                              if(v.user_id)
                                v_user = User.find(v.user_id)
                                k_user_name = v_user.name
                              end
                              key_array << { :v_term => v.vocabulary_terms.term.capitalize, :v_user_name => k_user_name, :v_updated => v.updated_at.to_time.strftime(Rails.application.config.x.timestamp_format) }

                            end
                            key_array.sort_by!{|a| a[:v_term]}
                            key_array.each do |l|
%>
                              <span class="tag_keyword"><%= link_to l[:v_term], '/quick_search/query?utf8=✓&q=keyword:"' + sanitize(l[:v_term] + '"') %></span><span class="author_show"> <small>&mdash; by <%= l[:v_user_name] + ' (' + l[:v_updated] + ')' %></small></span><br/>

                           <% end %>
                        </div><!-- end col -->
                    <% end %>
                  </div><!-- end row -->
                </div><!-- end tagPanel -->
            </div><!-- end col 6 -->
          <% end %>
        </div><!-- end row -->
    <% end %>