<% parent = @resource.parents.first %>
<% content_for :page_title do %>
  <title>Exchange: <%= sanitize(@resource.title, :tags => %w()) %></title>
<% end %>
<% 
	# Set allowed HTML tags/attributes for the body text
	body_tags_allowed = %w(strong em a font b sup sub u img br p span div li ul ol table tr th td i)
	body_attrs_allowed = %w(href style src alt class id float target width height title data-link-target)
	# Set the maxHeight of the body text. Necessary for collapse to work and setting a variable here for future changes
	max_text_height = '10000px'
%>
<% if session[:last_collection] %>
    <%= render partial: 'show_parent_heading.html.erb' %>
<% end %>
<div class="row">
  <div class="col-sm-10 resourceBodyText">
    <p id="notice"><%= notice %></p>

    <H2><%= sanitize(@resource.title, tags: %w(strong em a font b sup sub u i), attributes: %w(href style)) %></H2>
    <H3><%= sanitize(@resource.subtitle, tags: %w(strong em a font b sup sub u i), attributes: %w(href style)) %></H3>
    <% if @resource.settings(:text_placement).placement.to_s == "above" %>
        <% if @resource.settings(:text_formatting).show_all == 0 %>
            <div class="col-md-12">
              <p><%= sanitize(@resource.parsed_body_text, tags: body_tags_allowed, attributes: body_attrs_allowed) %></p>
            </div>
        <% else %>
            <div class="col-md-12 textSlider" aria-controls="fullTextExpand">
              <p><%= sanitize(@resource.parsed_body_text, tags: body_tags_allowed, attributes: body_attrs_allowed) %></p>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-4 text-center">
                <a role="button" data-toggle="collapse" href="#fullTextField" aria-expanded="false" aria-controls="fullTextExpand" onclick="$('.hideText').toggle('slow')">
                  <!--<hr/>-->
                  <span class="hideText" onclick="$('.textSlider').css('max-height', '<%= max_text_height %>')"><i class="fa fa-chevron-down" aria-hidden="true"></i> <%= @resource.settings(:text_formatting).show_all == 1 ? 'Show More' : 'Show Text' %> <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                  <span class="hideText collapse" onclick="$('.textSlider').css('max-height', '<%= @resource.settings(:text_formatting).show_all == 1 ? '240px' : '0px' %>')"><i class="fa fa-chevron-up" aria-hidden="true"></i> <%= @resource.settings(:text_formatting).show_all == 1 ? 'Show Less' : 'Hide Text' %> <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                  <!--<hr/>-->
                </a>
              </div>
            </div>
            <script>
                $(document).ready(function(){
                    $('.textSlider').css('max-height', "<%= @resource.settings(:text_formatting).show_all == 1 ? '240px' : '0px' %>");
                });
            </script>
        <% end %>
    <% end %>

    <%
      # generate count of publically available media files
      # need to enforce access control
      available_media = 0
      media_file_list = []
      modal_scroll = ''
      @resource.media_files.each do |f|
        if f.access == 1
          available_media = available_media + 1
          media_file_list.push(f.id)
          if f.access == 1
			modal_scroll += '<li class="moRelated"><a class="modalOpen" data-dismiss="modal" href="#" id="' + 'modal' + f.sourceable.class.to_s + f.sourceable.id.to_s + '" data-link-target="#' + f.sourceable.class.to_s + f.sourceable.id.to_s + 'Link">'
			modal_scroll += f.sourceable.preview :thumbnail
			modal_scroll += '</a></li>'
		  end
        end
      end

      case @resource.settings(:media_formatting).mode.to_s
        when "thumbnails"
    %>
        <div id="thumbnailContainer" class="row" data-ajax-id='<%= @resource.id %>' data-ajax-media='<%= available_media %>' data-ajax-caption=false>
          <div class="row">
          <%
            total_count = 0
            @resource.media_files.each do |f|
              if f.sourceable
                if f.access == 1
                  if total_count % 4 == 0
%>
					</div><div class="row">
				  <% end %>
                      <div class="col-md-3">
                        <div class="thumbnail previewThumbnail">
                          <a class="modalOpen" href="#" id="<%= 'link' + f.sourceable.class.to_s + f.sourceable.id.to_s %>" data-link-target="#<%= f.sourceable.class.to_s + f.sourceable.id.to_s %>Link">
						  	<%= media_display = f.sourceable.preview :thumbnail %>
						  </a>
                          <% if (fzoom = is_zoomable(f)) %>
							<div class="zoomControls">
							  <a href="#" class="leafletZoom" data-dismiss="modal" onclick="$('#mediaViewerModal').removeData('iiif'); jQuery('#mediaViewerModal').data('iiif', '<%= riiif_info_path(fzoom) %>').modal('show'); return false;"><i class="fa fa-search-plus" aria-hidden="true"></i>Zoom</a>
							</div>
						  <% end %>
                        </div>
                      </div><!-- end col -->
<%
					total_count = total_count + 1
					if total_count == 16
                      break
                    end
				end
            end
        end
%>
			</div>
          </div><!-- end row -->

    <% when "thumbnailsCaption" %>
        <div id="thumbnailContainer" class="row" data-ajax-id='<%= @resource.id %>' data-ajax-media='<%= available_media %>' data-ajax-caption=true>
		  <div class="row">
<%
            total_count = 0
            @resource.media_files.each do |f|
              if f.access == 1
                if f.sourceable
                  if total_count % 4 == 0
%>
					</div><div class="row">
<%
                  end
%>
                  <div class="col-md-3">
                    <div class="thumbnail previewThumbnail">
                      <a class="modalOpen" href="#" id="<%= 'link' + f.sourceable.class.to_s + f.sourceable.id.to_s %>" data-link-target="#<%= f.sourceable.class.to_s + f.sourceable.id.to_s %>Link">
					    <%= media_display = f.sourceable.preview :thumbnail %>
					  </a>
                      <div class="caption small">
                      	    <%= sanitize(f.caption) %>
                        <div class="row">
                          <div class="col-sm-8">
                            <% if f.display_collectionobject_link == 1 %>
                          	  <%= link_to "View Object Record".html_safe, get_resource_view_path(f.get_original_resource_id, user_signed_in?) %>
                          	<% end %>
                          </div>
                          <div class="col-sm-4">
                            <% if (fzoom = is_zoomable(f)) %>
						      <div class="zoomControls">
						        <a href="#" class="leafletZoom" data-dismiss="modal" onclick="$('#mediaViewerModal').removeData('iiif'); jQuery('#mediaViewerModal').data('iiif', '<%= riiif_info_path(fzoom) %>').modal('show'); return false;"><i class="fa fa-search-plus" aria-hidden="true"></i>Zoom</a>
						      </div>
						    <% end %>
					      </div>
					    </div>
                      </div>  
                    </div>
                  </div><!-- end col -->
<%
				  total_count = total_count + 1
				  if total_count == 16
                    break
                  end
                end
              end
            end
%>
      	</div>
      </div><!-- end row -->
    <%
      when "slideshow"
        if available_media > 0
    %>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <div class="row carouselNav">
                  <div class="col-xs-8 col-xs-offset-2 text-center">
                    <% if available_media > 1 %>
                        <a id="prevSlide" href="#resourceCarousel" role="button" data-slide="prev">
                          <i class="control-arrow fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
                          <span class="sr-only">Previous</span>
                        </a>
                        <span class="num"></span>
                        <a class="" href="#resourceCarousel" role="button" data-slide="next">
                          <i class="control-arrow fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
                          <span class="sr-only">Next</span>
                        </a>
                    <% end %>
                  </div>
                  <div class="col-xs-2 text-right">
                    <!--<a id="openFullscreen" href="#" data-toggle="modal" data-target="#carousel-full" title="Fullscreen slideshow"><i class="fa fa-external-link fa-2x"></i></a>-->
                    <%= link_to '<i class="fa fa-external-link fa-2x"></i>'.html_safe, load_fullscreen_slideshow_path(:resource_id => @resource.id), :remote => true, :class => 'slideshowLoad' %>
                  </div>
                </div>
                <div id="resourceCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-ajax-media='<%= available_media %>' data-ajax-id='<%= @resource.id %>'>
                  <!-- Wrapper for slides -->
                  <div id="carouselFocus" class="carousel-inner" role="listbox">
                    <%
                      counter = 1
                      @resource.media_files.each do |f|
                        if f.access == 1
                          if f.sourceable
                    %>
                                <div class="item <%= (counter == 1) ? 'active' : '' %>">
                                    <div class="carouselImageHeight">
                                    	<a class="modalOpen" href="#" id="<%= 'link' + f.sourceable.class.to_s + f.sourceable.id.to_s %>" data-link-target="#<%= f.sourceable.class.to_s + f.sourceable.id.to_s %>Link">
                                    	<%=
                                      		begin
                            					media_display = f.sourceable.render :large
                            		  		rescue
                            					media_display = f.sourceable.preview :large, '', '', f.caption
                          			  		end
                                    	%>
                                    	</a>
                                    </div>
                                  	<% if (fzoom = is_zoomable(f)) %>
										<div class="zoomControls" onload="$(this).css('top', function(){ console.log($(this).prev().('.previewMediaCaption.').height() * -1);});">
									  		<a href="#" class="leafletZoom" data-dismiss="modal" onclick="$('#mediaViewerModal').removeData('iiif'); jQuery('#mediaViewerModal').data('iiif', '<%= riiif_info_path(fzoom) %>').modal('show'); return false;"><i class="fa fa-search-plus" aria-hidden="true"></i>Zoom</a>
										</div>
								  	<% end %>
                                </div>
                            <%
                              counter = counter + 1
                              if counter > 10
                              	break
                              end
                              end
                              end
                              end
                            %>
                  </div><!-- end carousel-inner -->
                </div><!-- end resourceCarousel -->
              </div>
            </div>
        <% end %>
	<% end %>
	  <div class="row">
<%
        if available_media > 0
          @resource.media_files.each do |f|
            if f.sourceable
              if f.access == 1
				target_div = '#' + f.sourceable.class.to_s + f.sourceable.id.to_s
				anchor_tag = f.sourceable.class.to_s + f.sourceable.id.to_s + 'Link'
%>
                <!--Modal Container loaded here, content will be loaded via AJAX if/when requested-->
                <%= link_to '', load_media_modal_path(f, :media_id => f.id.to_i, :resource_id => @resource.id.to_i), :remote => true, :class => 'mediaLoad', :id => anchor_tag, :'data-modal-target' => target_div %>
                <div class="modal modal-wide" id="<%= f.sourceable.class.to_s + f.sourceable.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<%
              end
            end
          end
        end
%>
	</div>
    <%=
      # This is in a partial because its a lot of nested divs and duplicates functionality in the main slideshow
      # which is potentially confusing
      # Placing this partial here makes it avaialable regardless of media format setting
      # render partial: 'resource_slideshow_fullscreen'
    %>
    <div class="modal fade modal-wide modal-black" id="carousel-full" tabindex="-1" role="dialog" aria-labelledby="fullCarousel-label" aria-hidden="true"></div>
    <% if @resource.settings(:text_placement).placement.to_s == "below" %>
        <% if @resource.settings(:text_formatting).show_all == 0 %>
            <div class="col-md-12">
              <p><%= sanitize(@resource.parsed_body_text, tags: body_tags_allowed, attributes: body_attrs_allowed) %></p>
            </div>
        <% else %>
            <div class="col-md-12 textSlider" aria-controls="fullTextExpand">
              <p><%= sanitize(@resource.parsed_body_text, tags: body_tags_allowed, attributes: body_attrs_allowed) %></p>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-4 text-center">
                <a role="button" data-toggle="collapse" href="#fullTextField" aria-expanded="false" aria-controls="fullTextExpand" onclick="$('.hideText').toggle('slow')">
                  <!--<hr/>-->
                  <span class="hideText" onclick="$('.textSlider').css('max-height', '<%= max_text_height %>')"><i class="fa fa-chevron-down" aria-hidden="true"></i> <%= @resource.settings(:text_formatting).show_all == 1 ? 'Show More' : 'Show Text' %> <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                  <span class="hideText collapse" onclick="$('.textSlider').css('max-height', '<%= @resource.settings(:text_formatting).show_all == 1 ? '240px' : '0px' %>')"><i class="fa fa-chevron-up" aria-hidden="true"></i> <%= @resource.settings(:text_formatting).show_all == 1 ? 'Show Less' : 'Hide Text' %> <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                  <!--<hr/>-->
                </a>
              </div>
            </div>
            <script>
                $(document).ready(function(){
                    $('.textSlider').css('max-height', "<%= @resource.settings(:text_formatting).show_all == 1 ? '240px' : '0px' %>");
                });
            </script>
        <% end %>
    <% end %>
    <% if(@resource.settings(:user_interaction).allow_responses > 0) %>
        <div class="panel panel-default">
          <div class="panel-body">
            <% if(@resource.settings(:user_interaction).display_responses_on_separate_page > 0) %>
                <div class="row" id="responseResources">
<%
				  resp_count = 0
				  @resource.get_responses.each do |rr|
					if((rr.can(:view, current_user) or rr.can(:edit, current_user)) and rr.response_banned_on != 1)
					  resp_count += 1
					end
				  end
%>
                  <% if(resp_count > 0) %>
                      <div class="col-xs-12 col-sm-6 text-center">
                        <a href="#" class="btn btn-default btn-response" data-target="#responseModal" data-toggle="modal">View Responses</a>
                        <div class="modal modal-wide" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Close</span></button>
                                <h2 class="modal-title" id="addMediaFormLabel">Responses</h2>
                              </div>
                              <div class="modal-body">
                                <%= render partial: "resource_responses_grid" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% end %>
                  <div class="col-xs-12 col-sm-<%= resp_count > 0 ? '6' : '12' %> text-center">
                    <%= link_to("Respond to this Resource", new_resource_path + "?in_response_to_resource_id=" + @resource.id.to_s, { class: "btn btn-default btn-response"}) %>
                  </div>
                </div>
            <% else %>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 text-center">
                    <%= link_to("Respond to this Resource", new_resource_path + "?in_response_to_resource_id=" + @resource.id.to_s, { class: "btn btn-default btn-response"}) %>
                  </div>
                </div>
                <% if(@resource.get_responses.count > 0) %>
                    <hr/>
                    <div class="row">
                      <div class="col-sm-12 text-center">
                        <h2>Responses to this Resource</h2>
                      </div>
                    </div>
                    <div class="row" id="responseResources">
                      <div class="col-sm-12 text-center">
                        <%= render partial: "resource_responses_grid" %>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <div class="row" id="detailTags">

          <% if(@resource.settings(:user_interaction).allow_comments > 0) %>
              <div class="col-sm-6">
                <a id="commentButton" role="button" data-toggle="collapse" href="#commentPanel"><H4><%= @resource.comments.count %> Comment<%= @resource.comments.count == 1 ? '' : 's' %></H4></a>
                <div id="commentPanel" class="detailComments collapse">
                  <% @resource.comments.each do |c| %>
                      <div>
                        <%= c.comment %>
                        <br/><small>&mdash; by <i><%= c.user_name %>  (<%= c.updated_at.to_time.strftime(Rails.application.config.x.timestamp_format) %>)</i></small>
                      </div>
                  <% end %>
                  <%= form_tag '/resources/add_comment' do %>
                      <%= hidden_field_tag 'id', @resource.id %>
                      <div class="form-group">
                        <label>Add Comment</label>
                        <%= text_area_tag 'comment[comment]', nil, class:'form-control' %>
                      </div>
                      <%= submit_tag 'Save', class:'btn btn-default btn-sm' %>
                  <% end %>
                </div>
              </div>
          <% end %>
          <script>
              $(document).ready(function(){
                  $('.tag_keyword').hover(
                      function(){ $(this).next(".author_show").show()},
                      function(){$(this).next(".author_show").hide()}
                  );
              })
          </script>
          <div class="col-sm-6">
            <a role="button" data-toggle="collapse" href="#tagPanel"><H4>
              <% if (@resource.settings(:user_interaction).allow_tags > 0) %>
                  <%= @resource.tags.count %> Tag<%= @resource.tags.count == 1 ? '' : 's' %> &amp;
              <% end %>
              <%= @resource.vocabulary_terms.count %> Keyword<%= @resource.vocabulary_terms.count == 1 ? '' : 's' %></h4></a>
            <div id="tagPanel" class="collapse detailComments">
              <div class="row">
                <% if (@resource.settings(:user_interaction).allow_tags > 0) %>
                    <div class="col-sm-<%= @resource.vocabulary_terms.count > 0 ? '6' : '12' %>">
                      <h5>Tags</h5>
                      <%# @resource.tags.map(&:tag).join(", ") %>
                      <%
                        tag_array = []
                        @resource.tags.each do |t|
                          tag_array << { :t_tag => t.tag.capitalize, :t_user => t.user.name, :t_id => t.id, :t_updated => t.updated_at.to_time.strftime(Rails.application.config.x.timestamp_format) }
                        end
                        tag_array.sort_by!{|a| a[:t_tag]}
                        tag_array.each do |l|
                      %>
                          <span class="tag_keyword"><%= link_to l[:t_tag], '/quick_search/query?utf8=✓&q=tag:"' + sanitize(l[:t_tag] + '"') %></span><span class="author_show"> <small>&mdash; by <%= l[:t_user] + ' (' + l[:t_updated] + ')' %></small></span><br/>
                      <% end %>
                      <%= form_tag '/resources/add_tag' do %>
                          <%= hidden_field_tag 'id', @resource.id %>
                          <br/>
                          <div class="form-group">
                            <label>Add Tag</label>
                            <%= text_field_tag 'tag[tag]', nil, class:'form-control' %>
                          </div>
                          <%= submit_tag 'Save', class:'btn btn-default btn-sm' %>
                      <% end %>
                    </div>
                <% end %>
                <% if @resource.resources_vocabulary_terms.count > 0 %>
                    <div class="col-sm-<%= @resource.settings(:user_interaction).allow_tags > 0 ? '6' : '12' %>">
                      <h5>Keywords</h5>
                      <%# @resource.vocabulary_terms.map(&:term).join(", ") %>
                      <%
                        key_array = []
                        @resource.resources_vocabulary_terms.each do |v|
                          k_user_name = ""
                          if(v.user_id)
                            v_user = User.find(v.user_id)
                            k_user_name = v_user.name
                          end
                          key_array << { :v_term => v.vocabulary_terms.term.capitalize, :v_user_name => k_user_name, :v_updated => v.updated_at.to_time.strftime(Rails.application.config.x.timestamp_format) }

                        end
                        key_array.sort_by!{|a| a[:v_term]}
                        key_array.each do |l|
                      %>
                          <span class="tag_keyword"><%= link_to l[:v_term], '/quick_search/query?utf8=✓&q=keyword:"' + sanitize(l[:v_term] + '"') %></span><span class="author_show"> <small>&mdash; by <%= l[:v_user_name] + ' (' + l[:v_updated] + ')' %></small></span><br/>
                      <% end %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end col -->
  <div class="col-sm-2 resourceSidePanel">
    <% if user_signed_in? || session.key?(:last_search_type) %>
    <div class="panel panel-primary headPanel">
      <div class="panel-body headPanelBody">
        <div class="row">
          <div id="infoColHead" class="col-xs-12 text-right">
            <h4>
              <% if @resource.can(:edit, current_user) %>
    		    <%= link_to '<span class="glyphicon glyphicon-edit aria-hidden="true"></span> Edit'.html_safe, edit_resource_path(@resource), class:'btn btn-default btn-xs' %>
			  <% end %>
              <% if user_signed_in? %>
              	<%= link_to '<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Dashboard'.html_safe, '/dashboard', class: 'btn btn-default btn-xs' %><br/>
              <% end %>
              <%= last_search_button(session, {'class': 'btn btn-default btn-xs'}) %>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-7 text-left">
            <%=
              link_to('<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Previous'.html_safe, resource_path(@search_previous_resource_id)) if (@search_previous_resource_id)
            %>
          </div>
          <div class="col-xs-5 text-right">
            <%=
              link_to('<i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Next'.html_safe, resource_path(@search_next_resource_id)) if (@search_next_resource_id)
            %>
          </div>
        </div>

        <div class="detailButtonsResource text-center">
          <%= link_to '<i class="fa fa-clone" aria-hidden="true"></i>'.html_safe, fork_resource_path(@resource), method: :post, :title => 'Copy and Customize' %>
          <!-- AddToAny BEGIN -->
          <a class="a2a_dd" href="https://www.addtoany.com/share"><i class="fa fa-share-alt"></i></a>
          <script>
              var a2a_config = a2a_config || {};
              a2a_config.linkname = '<%= sanitize(@resource.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)) %>';
              a2a_config.prioritize = ["facebook", "twitter", "email", "pinterest", "google_plus", "reddit", "wordpress", "tumblr"];
          </script>
          <!-- AddToAny END -->
          <% if(@resource.settings(:user_interaction).allow_comments > 0) %>
              <a href="#commentButton" onclick="$('#commentPanel').collapse('show')" title="Comment"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
          <% end %>
          <span id="favoriteControl"><%= render partial: "favorites/favorite_control", locals: { resource: @resource} %></span>
        </div>
        <%
          parent_count = 0
          @resource.parents.each do |p|
            if p.can(:view, current_user) or p.can(:edit, current_user)
              parent_count += 1
            end
          end
          if(@resource.parents && (parent_count > 0))
        %>
            <div class="unit">

              <a role="button" data-toggle="collapse" href="#lcPanel"><h4>Part of <%= parent_count %> Learning Collection<%= (parent_count == 1) ? "" : "s" %></h4></a>
              <!--<H4>More from this learning collection</H4>-->

              <div id="lcPanel" class="collapse scrollList">
                <%
                  panelCount = 0
                  @resource.parents.each do |p|
                %>
				  <% if p.can(:view, current_user) or p.can(:edit, current_user) %>
                    <div>
                      <strong><%= link_to sanitize(p.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)), get_resource_view_path(p, user_signed_in?) %> <i class="fa fa-external-link-square" aria-hidden="true"></i></strong>
                      <br/>
                      <a role="button" data-toggle="collapse" href="#collPanel_<%= panelCount %>">
                        See <%= p.resource_hierarchies.count %> Included Resource<%= (p.resource_hierarchies.count == 1) ? "" : "s" %> <i class="fa fa-angle-double-down" aria-hidden="true"></i></a></div>
                    <div id="collPanel_<%= panelCount %>" class="collapse scrollList">
                      <% p.resource_hierarchies.each do |rel| %>
                      	  <% if rel.child_resource.can(:view, current_user) or rel.child_resource.can(:edit, current_user) %>
                            <div>
                              <small>
                                <% if (rel.child_resource.is_collection) %>
                                    <%= link_to "<i class='fa fa-folder-o'></i>".html_safe, get_resource_view_path(rel.child_resource, user_signed_in?) %>
                                <% end %>
                                <%= link_to sanitize(rel.child_resource.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)), get_resource_view_path(rel.child_resource, user_signed_in?) %>
                                <br />
                                <%= (rel.child_resource.subtitle.length > 50) ? rel.child_resource.subtitle[0..50] + "..." : rel.child_resource.subtitle %>
                              </small><br/>
                            </div>
                          <% end %>
                      <% end %>
                    </div>
				  <% end %>
                    <% panelCount += 1 %>
                <% end %>
              </div>
            </div><!-- end unit -->
        <% end %>
        <%
          related_count = 0
          @resource.related_resources.each do |rel|
            if rel.related.can(:view, current_user) or rel.related.can(:edit, current_user)
              related_count += 1
            end
          end
        %>
        <% if related_count > 0 %>
            <div class="unit">
              <a role="button" data-toggle="collapse" href="#relatedPanel"><H4><%= related_count %> Related Resource<%= related_count == 1 ? '' : 's' %></H4></a>
              <div id="relatedPanel" class="collapse detailRelatedContentBlockScroll">
                <% @resource.related_resources.each do |r| %>
                    <% if r.related.can(:view, current_user) or r.related.can(:edit, current_user) %>
                      <div>
                        <%= link_to ((r.related.is_resource || r.related.is_collection_object) ? "" : "<i class='fa fa-folder-o'></i> ".html_safe) + sanitize(r.related.title, tags: %w(strong em a font b sup sub u), attributes: %w(href style)), get_resource_view_path(r.related, user_signed_in?) %>
                        <% if (r.caption.length > 0) %>
                            <br/><small><%= r.caption %></small>
                        <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div><!-- end unit -->
        <% end %>
        <% if @resource.collectionobject_link_count > 0 %>
            <div class="unit">
              <% co_count = @resource.collectionobject_link_count %>
              <a role="button" data-toggle="collapse" href="#referencePanel"><H4><%= co_count.to_s %> Collection Object Source<%= co_count == 1 ? '' : 's' %></H4></a>
              <div id="referencePanel" class="collapse detailRelatedContentBlockScroll">
                <% mf_references = @resource.media_file_references %>
                <% mf_references.each do |mf_key, mf_value| %>
                    <div><small><%= link_to sanitize(mf_value[0]), get_resource_view_path(mf_key, user_signed_in?) %>(<%= mf_value[1] %>)</small></div>
                <% end %>
              </div>
            </div><!-- end unit -->
        <% end %>
        <% if @resource.links.count > 0 %>
            <div class="unit">
              <H4><%= @resource.links.count %> Link<%= ((@resource.links.count > 1) ? "s" : "") %></H4>
              <% @resource.links.each do |c| %>
                  <div>
                    <a href="<%= c.url %>" target="_blank" title="<%= c.url %>"><i class='fa fa-link' aria-hidden='true'></i> <%= (c.caption && (c.caption.length > 0)) ? c.caption : ((c.url.length > 20) ? c.url[0..17] + "..." : c.url) %></a>
                  </div>
              <% end %>
            </div>
        <% end %>
        <% if(@resource.settings(:user_interaction).allow_tags > 0) %>
            <% if @resource.tags.count > 0 %>
                <div class="unit">
                  <H4>Tags</H4>
                  <%# @resource.tags.map(&:tag).join(", ") %>
                  <%
                    tag_array = []
                    @resource.tags.each do |t|
                      tag_array << { :t_tag => t.tag.capitalize }
                    end
                    tag_array.sort_by!{|a| a[:t_tag]}
                    tag_array.each do |l|
                  %>
                      <%= link_to l[:t_tag], '/quick_search/query?utf8=✓&q=tag:"' + sanitize(l[:t_tag] + '"') %><br/>
                  <% end %>


                </div>
            <% end %>
        <% end %>
        <% if @resource.vocabulary_terms.count > 0 %>
            <div class="unit">
              <h4>Keywords</h4>
              <%# @resource.vocabulary_terms.map(&:term).join(", ") %>
              <%
                key_array = []
                @resource.resources_vocabulary_terms.each do |v|
                  key_array << { :v_term => v.vocabulary_terms.term.capitalize }
                end
                key_array.sort_by!{|a| a[:v_term]}
                key_array.each do |l|
              %>
                  <%= link_to l[:v_term], '/quick_search/query?utf8=✓&q=keyword:"' + sanitize(l[:v_term]) + '"' %><br/>
              <% end %>
            </div>
        <% end %>
          <!--Get all associated Affiliations-->
          <% if @resource.roles.count > 0 %>
              <div class="unit">
                <h4>Created For</h4>
                <%=
                  buf = ''
                  aff_array = []
                  @resource.roles.each do |r|
                    Rails.application.config.x.user_roles.each do |k,v|
                      next if (v == :admin)
                      if r.name == v.to_s
                        aff_array << { :a_term => k.to_s, :a_val => v.to_s }
                      end
                    end
                  end
                  aff_array.sort_by!{|a| a[:a_term]}
                  aff_array.each do |a|
                    buf += link_to a[:a_term], '/quick_search/query?utf8=✓&q=role:' + a[:a_val]
                    buf += '<br/>'
                  end
                  sanitize(buf)
                %>
              </div><!--end unit-->
          <% end %>

          <% if (current_user && @available_collections && (@available_collections.length > 0) && !@resource.is_crc_set) %>
          <div class="unit">
            <div id="resourceAdd-status">
              <div class="flash-notice" id="resourceAdd-status-message">

              </div>
            </div>
            <h4>Add to collection</h4>  <form class="collectionObjectAdd"><%=
            select_tag(:add_to_collection_id, options_from_collection_for_select(@available_collections, :id, lambda {|t| strip_tags(t.title)}), class:'detailCollectionList', id:'resourceAddToCollectionID')
          %>
            <%= button_tag "<span class='glyphicon glyphicon-plus-sign' aria-hidden='true'></span> Add".html_safe, href: "#", class: "btn btn-noBg btn-xs", id: "resourceAddToCollection", data: {id: @resource.id}  %>
          </form>
          </div>
          <% end %>
          <div class="unit">
            <h4>Rate this Resource</h4>
            <%= rating_for @resource, 'quality', disable_after_rate: false, star_on: "mortarboard_on_sm.png", star_off: "mortarboard_off_sm.png", star_half: "mortarboard_half_sm.png", cancel_place: 'right', cancel_on: 'cancel_on.png', cancel_off: 'cancel_off.png' %>
            <h6 class="noPaddingText">AVG: <%= @resource.avg_rating %> | Ratings: <%= @resource.total_ratings %></h6>
          </div>
          <!-- Display the current user or author -->
          <div class="unit authorLink">
            <% if @resource.author_id  %>
                <% author_name = @resource.get_author_name(:omit_email => true).to_s %>
                <h4>Created by</h4><%= link_to sanitize(author_name + '<br/><strong>Other Resources by this Author</strong>'), '/quick_search/query?utf8=✓&q=author:"' + author_name + '"' %> <i class="fa fa-external-link-square" aria-hidden="true"></i>

            <% else %>
                <h4>Created by</h4><%= link_to sanitize(@resource.user.name + '<br/><strong>Other Resources by this Author</strong>'), '/quick_search/query?utf8=✓&q=author:"' + @resource.user.name + '"'%> <i class="fa fa-external-link-square" aria-hidden="true"></i>
            <% end %>
          </div><!-- end unit -->
        <% if (@resource.copyright_license) %>
            <div class="unit">
              <h4>Copyright/Author Notes</h4>
              <%= @resource.get_license_type %>
              <% if (@resource.copyright_notes.present?) %>
                  (<%= sanitize(@resource.copyright_notes, tags: %w(strong em a font b sup sub u i br), attributes: %w(href style)) %>)
              <% end  %>
            </div>
        <% end %>
        <div class="unit">
			<h4>Last Updated</h4>
			<% if (Time.now.to_i - @resource.updated_at.to_i) > 86400 %>
				<%= @resource.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %-d, %Y %l:%M %P").gsub(/(a|p)(m)/, '\1.\2.') %>
			<% else %>
				<%= time_ago_in_words(@resource.updated_at) + ' ago' %>
			<% end %>
		</div>
        <div class="unit">
          <a role="button" data-toggle="collapse" href="#reportPanel"><h4><i class="fa fa-flag"></i> Report</h4></a>
          <div id="reportPanel" class="collapse">
            <%= form_tag 'send_report' do %>
                <% if !user_signed_in? %>
                    <div class="form-group"><label>Email:</label><%= text_field_tag 'email', '', :class => 'form-control' %></div>
                <% else %>
                    <%= hidden_field_tag 'r_user_name', current_user.name %>
                    <%= hidden_field_tag 'r_user_email', current_user.email %>
                <% end %>
                <div class="form-group"><label>Report:</label><%= text_area_tag 'report', '', {:class => 'form-control', :rows => '3'} %></div>
                <%= hidden_field_tag 'r_title', @resource.title %>
                <%= hidden_field_tag 'r_id', @resource.id %>
                <%= submit_tag "Send Report", {:value => "Send Report", :class => "btn btn-default btn-sm"} %>
            <% end %>
            <br/>
            <p><span data-toggle="popover" data-placement="top" data-trigger="hover" data-content="UMMA is dedicated to fostering diversity, equity and inclusion and therefore abusive, threatening or derogatory content is subject to removal from The Exchange. Please use this tool to report any content that crosses these lines. All reports will be reviewed by UMMA staff for potential action."><i class="fa fa-question-circle"></i>Reporting Policy</span></p>
            <script>
                $('#reportPanel').ready(function(){
                    $('[data-toggle="popover"]').popover({
                        container: 'body',
                        title: "Reporting Guidelines"
                    });
                });
            </script>
          </div>
        </div>
        <%= render(partial: 'resources/resource_responses', layout: false) %>
        <%= render(partial: 'resources/media_overlay') %>
      </div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<div id="modalScrollList" class="hidden"></div>
<script>
	$(document).ready(function(){
		$('#modalScrollList').append('<%= escape_javascript(modal_scroll).html_safe %>');
	});
    $(function(){
        $('.mediaTipsTrigger').popover({
            html: true,
            content: function(){
                return $('.mediaTipsPopover').html();
            }
        });
    });
    //These scripts control display and interaction with the slideshows
    // These functions trigger opening and closing of the FULL-fullscreen slideshow

    function launchIntoFullscreen(element) {
        if(element.requestFullscreen) {
            element.requestFullscreen();
        } else if(element.mozRequestFullScreen) {
            element.mozRequestFullScreen();
        } else if(element.webkitRequestFullscreen) {
            element.webkitRequestFullscreen();
        } else if(element.msRequestFullscreen) {
            element.msRequestFullscreen();
        }
    }

    // Bind the launch fullscreen option to all links to the fullscreen slideshow
    // Also set focus on carousel-control to enable keyboard commands onload, delay gives time for element to be visible
    $(document).on('click', '.slideshowLoad', function(){
        console.log($( document.activeElement ));
		if($('#carousel-full').has('.jumbotron').length > 0){
			$('#carousel-full').modal('toggle');
			event.stopPropagation();
			event.preventDefault();
		} else {
			$('#carousel-full').modal('toggle');
		}
		launchIntoFullscreen(document.documentElement); // the whole page
        $(document).ajaxComplete(function(){
			setTimeout(function(){
				$('a#rightFullCarousel').focus();
				console.log("Trying to set focus");
			}, 5000);
		});
    });

    function exitFullscreen() {
        if(document.exitFullscreen) {
            document.exitFullscreen();
        } else if(document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
        } else if(document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
        }
    }

    // Exit fullscreen and fullscreen modal with one click
    // If Esc is used, it will have to be hit twice, once to escape fullscreen and once to close the modal
    // There seems to be no way around this behavior
    $(document).on('click', '#fullscreenClose', function(){
        exitFullscreen();
    });
    // Enforce Esc as key to close the modal
    $(document).keyup(function(e){
        if(e.keyCode === 27)
            $("#carousel-full").modal('hide');
    });
</script>