<div class="row">
  <div class="col-sm-12">
    <H4><span id="resource_title_header">
      <%=
	  if(@resource.parents.first)
	    render 'resources/resource_parent_display_header'
	   else
	  	@resource.title
	  end
      %></span>
      <%=
           # if (@resource.parents.length == 0)
           	 button_tag "&nbsp;&nbsp;<span class='glyphicon glyphicon-plus-sign' aria-hidden='true'></span> ".html_safe + ((@resource.is_resource || @resource.is_collection_object) ? "Add to collection" : "Organize"), "href": "#", "class": "btn btn-noBg btn-xs", "id": "addToCollection", data: {"toggle": "modal", "target": "#selectResourceCollectionForm"}
        #	end
        	%>
        	 <%= 
        	 	if (@resource.is_collection || @resource.is_exhibition)
        	    link_to "&nbsp;&nbsp;<span class='glyphicon glyphicon-plus-sign' aria-hidden='true'></span> ".html_safe + "New sub-collection", new_subcollection_with_id_path(@resource.id), {"class": "btn btn-noBg btn-xs"}
          	end
        	%>
      <%= link_to '<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Preview'.html_safe, resource_preview_path(@resource), class: 'btn btn-default btn-xs pull-right' %>&nbsp;&nbsp;
      <%= link_to '<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Dashboard'.html_safe, '/dashboard', class: 'btn btn-default btn-xs pull-right' %>
      <%= last_search_button(session, {'class': 'btn btn-default btn-xs pull-right'}) %>

    </H4>
  </div><!-- end col -->
</div><!-- end row -->
<div class="row">
  <div class="col-md-10">
    <div id="resources-status">
      <div class="flash-notice" id="resources-status-message">

      </div>
    </div>
    <%= render 'form' %>
    <div class="row" id="resource_tabs">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#tab_formatting"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Formatting</a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab_related"><i class="fa fa-exchange" aria-hidden="true"></i> &nbsp;Related</a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab_tags"><i class="fa fa-tags" aria-hidden="true"></i> &nbsp;Tags</a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab_comments"><i class="fa fa-comments-o" aria-hidden="true"></i> &nbsp;Comments</a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab_links"><i class="fa fa-external-link" aria-hidden="true"></i> &nbsp;Links</a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab_collections"><i class="fa fa-folder-o" aria-hidden="true"></i> &nbsp;Collections</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="tab_formatting" class="tab-pane active">
            <p><%= render 'resources/formatting_options' %></p>
          </div>
          <div id="tab_related" class="tab-pane">
            <p><%= render 'resources/related' %></p>
          </div>
          <div id="tab_tags" class="tab-pane">
            <p><%= render 'resources/tags' %></p>
          </div>
          <div id="tab_comments" class="tab-pane">
            <p><%= render 'resources/comments' %></p>
          </div>
          <div id="tab_links" class="tab-pane">
            <p><%= render 'resources/links' %></p>
          </div>
          <div id="tab_collections" class="tab-pane">
            <p><%= render 'resources/collections' %></p>
          </div>
        </div>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end col -->
  <div class="col-md-2">
      <% if (@resource.is_resource || @resource.is_collection_object) %>
          <!-- Resource media list -->
          <%= render(partial:'media_files/integrated_create_form') %>
          <div id="resource_media_list_heading">
          <%= button_tag raw('<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Media'), "href": "#", "class": "btn btn-default btn-large", "id": "addMedia", data: {"toggle": "modal", "target": "#addMediaForm"} %>
          </div>
          <div class="panel panel-default"><div class="panel-body" id="resource_media_list" data-resource_id="<%= @resource.id %>">
           <%= render(partial: "resources/media_list") %>
          </div><!-- end panel-body --></div><!-- end panel -->
      <% else %>
          <!-- Learning collection contents list -->
          <div id="collection_contents_list_heading">
            <%=
              #link_to raw('<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Content'), new_resource_for_collection_with_id_path(@resource.id ), class:"btn btn-default btn-large"
              button_tag "&nbsp;&nbsp;<span class='glyphicon glyphicon-plus-sign' aria-hidden='true'></span> Add Content".html_safe, "href": "#", "class": "btn btn-default btn-large", "id": "addContentToCollection", data: {"toggle": "modal", "target": "#addChildResourceFormModal"}
            %>
          </div>
          <div class="panel panel-default"><div class="panel-body" id="collection_contents_list" data-resource_id="<%= @resource.id %>">
            <%= render(partial: "resources/resource_list_simple") %>
          </div><!-- end panel-body --></div><!-- end panel -->
      <% end %>
  </div><!-- end col -->
</div><!-- end row -->

<!-- Resource collection modal -->
<div id="resource_collection_select_container">
<%= render(partial:'resources/resource_collection_select') %>
</div>

<!-- Add resource modal -->
<%= render(partial:'resources/add_resource_select') %>

<%
  if((@resource.parents.count == 0) && (@resource.is_resource) && (session['mode'] == 'new'))
      # Trigger modal on save if no parent is set for resources (not collections)
%>

    <script type="text/javascript">
    	jQuery("#selectResourceCollectionForm").modal();
        jQuery('.summernote').summernote({
            height: 300,
            toolbar: [
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['font', ['fontname', 'strikethrough', 'superscript', 'subscript']],
              ['fontsize', ['fontsize']],
              ['color', ['color']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['height', ['height']],
              ['insert', ['picture', 'link', 'video', 'table', 'hr', 'mediaitem']]
            ],

            buttons : {mediaitem: MediaItemButton }
        });
    </script>
    <script type="text/javascript" src="/assets/plugins/media-item/summernote-ext-media-item.js"></script>

<%
  end
%>
