<div class="row">
  <div class="col-sm-12">
    <H4>
      Editing <%= (@resource.resource_type == Resource::RESOURCE) ? 'Resource' : 'Collection' %>
      <%= link_to '<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Preview'.html_safe, resource_preview_path(@resource), class: 'btn btn-default btn-xs pull-right' %>&nbsp;&nbsp;
      <%= link_to '<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back'.html_safe, '/dashboard', class: 'btn btn-default btn-xs pull-right' %>

      <%=
        #if (!@resource.parent_id)
         #   button_tag ((@resource.resource_type == Resource::RESOURCE) ? "Add to collection" : "Make sub-collection"), "href": "#", "class": "btn btn-default btn-xs pull-right", "id": "addToCollection", data: {"toggle": "modal", "target": "#selectResourceCollectionForm"}
          #else
           # link_to raw("Part of <em>" + @resource.parent.title + "</em>"), edit_resource_path(@resource.parent), "class": "btn btn-default btn-xs pull-right"
          #end
      %>
    </H4>
  </div><!-- end col -->
</div><!-- end row -->
<div class="row">
  <div class="col-md-10">
    <%= render 'form' %>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#tab_formatting">Formatting</a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab_related">Related</a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab_tags">Tags</a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab_comments">Comments</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="tab_formatting" class="tab-pane active">
            <p><%= render 'resources/formatting_options' %></p>
          </div>
          <div id="tab_related" class="tab-pane">
            <p><%= render 'resources/related' %></p>
          </div>
          <div id="tab_tags" class="tab-pane">
            <p><%= render 'resources/tags' %></p>
          </div>
          <div id="tab_comments" class="tab-pane">
            <p><%= render 'resources/comments' %></p>
          </div>
        </div>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end col -->
  <div class="col-md-2">
    <div class="panel panel-default">
      <% if (@resource.resource_type == Resource::RESOURCE) %>
          <!-- Resource media list -->
          <%= render(partial:'media_files/integrated_create_form') %>
          <div class="panel-heading" id="resource_media_list_heading">
            Media  <%= button_tag raw('<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>'), "href": "#", "class": "btn btn-default pull-right", "id": "addMedia", data: {"toggle": "modal", "target": "#addMediaForm"} %>
          </div>
          <div class="panel-body" id="resource_media_list">
           <%= render(partial: "resources/media_list") %>
          </div><!-- end panel-body -->
      <% else %>
          <!-- Learning collection contents list -->
          <div class="panel-heading" id="collection_contents_list_heading">
            Contents <%= link_to raw('<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>'), new_resource_for_collection_with_id_path(@resource.id ), class:"btn btn-default pull-right" %>
          </div>
          <div class="panel-body">
            <%= render(partial: "resources/resource_list_simple") %>
          </div>
      <% end %>
    </div><!-- end panel -->
  </div><!-- end col -->
</div><!-- end row -->

<!-- Resource collection modal -->
<%= render(partial:'resources/resource_collection_select') %>
<%
  #if(!@resource.parent_id && (@resource.resource_type == Resource::RESOURCE)&& (session['mode'] == 'new'))
      # Trigger modal on save if no parent is set for resources (not collections)
%>
    <script type="text/javascript">
    jQuery("#selectResourceCollectionForm").modal();
    </script>
<%
  #end
%>