<div class="row">

  <div class="col-md-10">
    <%= render 'form' %>
  </div>

  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="">Media</h4>
      </div>
      <div class="panel-body">
        <% @resource.media_files.each do |f| %>
          <% if f.sourceable %>
            <div><%= f.sourceable.preview :thumbnail  %></div>
          <% else %>
            <div><%= f.title  %></div>
          <% end %>
          <div style="float: right"><%= link_to 'Delete', f, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <hr />
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#media_files_form">Media</a>
          </li>
          <li>
            <a data-toggle="tab" href="#fooo">Foo</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="media_files_form" class="tab-pane fade in active">
            <% if session[:sourceable_id] %>
              <p><%= render 'media_files/form' %></p>
            <% else %>
              <p><%= render 'media_files/integrated_create_form' %></p>
            <% end %>
          </div>
          <div id="fooo" class="tab-pane fade">
            <p>There's nothing here.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Show', @resource %> |
<%= link_to 'Back', resources_path %>
