<div id="results_collection_object">
  <div class="row">
    <div class="col-sm-12">
      <a href="#" onClick="$('#colObjectResultsContainer').toggle(); return false;" class="btn btn-noBg btn-lg pull-right" style="margin-top:-6px;"><i class="fa fa-arrows-v" aria-hidden="true"></i></a>
      <h4>
        <%= @collection_objects.total_entries %> UMMA Collection Object<%= (@collection_objects.total_entries == 1) ? "" : "s" %>
        (page <%= @collection_objects_page.to_s + "/" + @collection_objects_num_pages.to_s %>)
      </h4>

    </div>
  </div>
  <div class="row" id="colObjectResultsContainer">
    <div class="col-sm-12">
      <%
        col = 0
        thumb = false
      %>
      <%
        @collection_objects.each do |r|
          col = col+1
          if(col == 1)
      %>
              <div class="row">
          <%
            end
          %>
          <div class="col-md-2 qsResult">
            <% r.media_files.each do |f| %>
                <% if f.sourceable %>
                    <%= link_to (f.sourceable.preview :thumbnail), get_resource_view_path(r[:id], user_signed_in?) %><br/>
                    <% thumb = true %>
                    <% break %>
                <% end %>
            <% end %>
            <% if(thumb == false) %>
                <%= link_to '<i class="fa fa-picture-o fa-5x fa-align-center thumbPlaceholder" aria-hidden="true"></i>'.html_safe, get_resource_view_path(r, user_signed_in?) %><br/>
            <% end %>
            <div class="text-left qsResultText">
              <div class="small"><%= r.get_collection_object_field('artist') %> <%= r.get_collection_object_field('artist_nationality', { enclose_in_parens: true}) %></div>
              <%= link_to r[:title], get_resource_view_path(r[:id], user_signed_in?) %>
              <div class="qsMoreCaption">
                <div class="small"><%= r.get_collection_object_field('date_created') %></div>
                <div class="small"><i><%= r.get_collection_object_field('credit_line') %></i></div>
                <div class="small text-left"><%= r.subtitle %></div>
              </div>
            </div>
            <% thumb = false %>
          </div>

          <%
            if(col == 6)
          %>
              </div>
              <div class="row">
          <%
            end

            end
          %>
      </div><!-- end row -->
      <div class='row'><div class='col-sm-3'></div>
        <%=
          if(@collection_objects_needs_previous_paging)

            ("<div class='col-sm-3 text-center'>" + link_to("Previous", query_results_path(type: "collection_object", page: @collection_objects_page - 1, query: @query), { class: "btn btn-default search-next-btn", remote: true}) + "</div>").html_safe
          else
            "<div class='col-sm-3'></div>".html_safe
          end
        %>
        <%=
          if(@collection_objects_needs_next_paging)

            ("<div class='col-sm-3 text-center'>" + link_to("Next", query_results_path(type: "collection_object", page: @collection_objects_page + 1, query: @query), { class: "btn btn-default search-next-btn", remote: true}) + "</div>").html_safe
          else
            "<div class='col-sm-3'></div>".html_safe
          end
        %>
        <div class='col-sm-3'></div>
      </div>
    </div>
  </div>
</div>