<% 
	i = 0
	col = 0
	thumb = false
%>
<% @collections.each do |r|
  next if(r[:access] < 1)
	  i = i+1
	  if i > 12 
		break 
	  end
	  col = col+1
		if(col == 1)
%>
			<div class="row">
<%
		end
%>

    <div class="col-sm-2 qsResult">
    	
			<div class="text-left"><%= link_to  "<i class='fa fa-folder-o'></i> ".html_safe + sanitize(r[:title]), get_resource_view_path(r[:id], user_signed_in?) %></div>
			<% @resource = Resource.find(r[:id]) %>		

			<% if(@resource.resource_hierarchies.count) %>
				<% @resource.resource_hierarchies.each do |rel| %>
					<% if(rel.child_resource.is_resource) %>
						<% rel.child_resource.media_files.each do |f| %>
							<% if f.sourceable %>
								<% if f.access == 1 %>								
									<%= link_to (f.sourceable.preview :thumbnail), get_resource_view_path(rel.resource_id, user_signed_in?) %><br/>
									<% thumb = true %>
									<% break %>
								<% end %>
							<% end %>
						<% end %>
						<% if(thumb == true) %>
							<% break %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
			<% if(thumb == false) %>	
				<%= link_to '<i class="fa fa-picture-o fa-5x fa-align-center thumbPlaceholder" aria-hidden="true"></i>'.html_safe, get_resource_view_path(@resource, user_signed_in?) %><br/>
			<% end %>
			<div class="qsResultText">
			<%=	"<div class='small'><i>Contains #{@resource.resource_hierarchies.count}".html_safe + ((@resource.resource_hierarchies.count == 1) ? " item" : " items") + "</i></div>".html_safe %>
			<%
    			if @resource.author_name && @resource.author_name != ''
	    			user_author = @resource.author_name
	  			else
	  				user_author = @resource.user.name
	  			end
	  		%>
	  		<% 
	  			if (Time.now.to_i - @resource.updated_at.to_i) > 86400
	   				display_time = @resource.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %-d, %Y %l:%M %P").gsub(/(a|p)(m)/, '\1.\2.')
	  			else
	    			display_time = time_ago_in_words(@resource.updated_at) + ' ago'
	  			end
	  		%>
			<div class="qsMoreCaption">
				<%= sanitize("<div class='small'><b>Author</b> #{user_author}</div><div class='small'><b>Last Updated</b> #{display_time}</div>") %>
			</div>
		</div>
		<% thumb = false %>
    </div>
<% 
		if(col == 6)
%>
			</div>
			<div class="row">
<%
		end 
%>
<% end %>

	</div><!-- end row -->
<%=
	if(@resources.count > 12)
		"<div class='row'><div class='col-sm-12 text-center'><a href='#' class='btn btn-default'>View All</a></div></div>".html_safe
	end
%>