<% 
	i = 0
	col = 0
	thumb = false
%>
<% 
	@resources.each do |r|
	  i = i+1
	  if i > 12 
		break 
	  end
	  col = col+1
		if(col == 1)
%>
			<div class="row">
<%
		end
%>
    <div class="col-md-2 qsResult">
    	<% @resource = Resource.find(r[:id]) %>
    	<% @resource.media_files.each do |f| %>
			<% if f.sourceable %>
				<%= link_to (f.sourceable.preview :thumbnail), resource_preview_path(r[:id]) %><br/>
				<% thumb = true %>
				<% break %>
			<% end %>
		<% end %>
		<% if(thumb == false) %>
			<%= link_to '<i class="fa fa-picture-o fa-5x fa-align-center thumbPlaceholder" aria-hidden="true"></i>'.html_safe, resource_preview_path(r[:id]) %><br/>
		<% end %>
		<div class="text-left qsResultText">
    		<%= link_to r[:title], resource_preview_path(r[:id]) %>
    		<div class="qsMoreCaption">
    			<%= "<div class='small'><b>Author</b> #{@resource.user.name}</div><div class='small'><b>Last Updated</b> #{time_ago_in_words(@resource.updated_at)} ago</div>".html_safe %>
    		</div>
    	</div>
    	<% thumb = false %>
    </div>
    
<% 
		if(col == 6)
%>
			</div>
			<div class="row">
<%
		end

	end	
%>
	</div><!-- end row -->
<%=
	if(@resources.count > 12)
		"<div class='row'><div class='col-sm-12 text-center'><a href='#' class='btn btn-default'>View All</a></div></div>".html_safe
	end
%>