<div class="row">
  <div class="col-md-12">
    <% if((!@collections_num_pages) && (!@resources_num_pages) && (!@collection_objects_num_pages) && (!@exhibitions_num_pages)) %>
        <h2>No results found for <em><%= sanitize(@query_for_display) %></em></h2>
    <% else %>
        <h2>Results for <em><%= sanitize(@query_for_display) %></em></h2>
    <% end %>
  </div>
</div>
<% if(@collections_num_pages) %>
        <%= render :partial => "quick_search/collection_results" %>
<% end %>
<% if(@resources_num_pages) %>
    <%= render :partial => "quick_search/resource_results" %>
<% end %>
<% if(@exhibitions_num_pages) %>
    <%= render :partial => "quick_search/exhibition_results" %>
<% end %>
<% if(@collection_objects_num_pages) %>
    <%= render :partial => "quick_search/collection_object_results" %>
<% end %>