<% content_for :page_title do %>
    <title>Exchange|Search: <%= sanitize(@query, :tags => %w()) %></title>
<% end %>
<div class="row">
  <div class="col-md-12">
    <% if((@collections.total_entries == 0) && (@resources.total_entries == 0) && (@collection_objects.total_entries == 0) && (@exhibitions.total_entries == 0) && (@crc_sets.total_entries == 0)) %>
        <h2>No results found for <em><%= sanitize(@query) %></em></h2>
    <% else %>
        <% if sanitize(@query) =~ /role:[a-zA-Z0-9 _-]+/ %>
            <h2>Browsing by <%= sanitize(@query.gsub(/([a-zA-Z]+:)([a-zA-Z0-9 _-]+)/, 'Affiliation: <em>\2</em>'))%></h2>
        <% elsif sanitize(@query) =~ /keyword:[a-zA-Z0-9 _-]+/ %>
            <h2>Browsing by <%= sanitize(@query.gsub(/([a-zA-Z]+:)([a-zA-Z0-9 _-]+)/, 'Keyword: <em>\2</em>'))%></h2>
        <% elsif sanitize(@query) =~ /tag:[a-zA-Z0-9 _-]+/ %>
            <h2>Browsing by <%= sanitize(@query.gsub(/([a-zA-Z]+:)([a-zA-Z0-9 _-]+)/, 'Tag: <em>\2</em>'))%></h2>
        <% elsif sanitize(@query) =~ /author_id:[a-zA-Z0-9 _-]+/ %>
            <% author = User.find(@query.split(':')[1]) %>
            <h2><%= sanitize(@query.gsub(/([a-zA-Z _-]+:)([a-zA-Z0-9 _-]+)/, 'Resources &amp; Learning Collections Created by: ')) + '<em>'.html_safe + author.name  + '</em>'.html_safe%></h2>
        <% else %>
            <h2>Results for <%= sanitize(@query) %></h2>
        <% end %>
    <% end %>
  </div>
</div>

<% if(@collection_objects.total_entries > 0) %>
    <%= render :partial => "quick_search/collection_object_results" %>
    <script>
        jQuery(document).ready(function() {
            $('#resourceResultsContainer, #collectionsResultsContainer, #crcsetResultsContainer').toggle();
        });
    </script>
<% end %>
<% if(@resources.total_entries > 0) %>
    <%= render :partial => "quick_search/resource_results" %>
<% end %>
<% if(@collections.total_entries > 0) %>
    <%= render :partial => "quick_search/collection_results" %>
<% end %>
<% if(@crc_sets.total_entries > 0) %>
    <%= render :partial => "quick_search/crc_set_results" %>
<% end %>
<% if(@exhibitions.total_entries > 0) %>
    <%= render :partial => "quick_search/exhibition_results" %>
<% end %>