<% content_for :page_title do %>
    <title>Exchange|Search: <%= sanitize(@query, :tags => %w()) %></title>
<% end %>
<div class="row">
  <div class="col-md-12">
    <% if((@collections.total_entries == 0) && (@resources.total_entries == 0) && (@collection_objects.total_entries == 0) && (@exhibitions.total_entries == 0) && (@crcsets.total_entries == 0)) %>
        <h2>No results found for <em><%= sanitize(@query) %></em></h2>
    <% else %>
        <% if sanitize(@query) =~ /role:[a-zA-Z0-9 _-]+/ %>
            <h2>Browsing by <%= sanitize(@query.gsub(/([a-zA-Z]+:)([a-zA-Z0-9 _-]+)/, 'Affiliation: <em>\2</em>'))%></h2>
        <% elsif sanitize(@query) =~ /keyword:[a-zA-Z0-9 _-]+/ %>
            <h2>Browsing by <%= sanitize(@query.gsub(/([a-zA-Z]+:)([a-zA-Z0-9 _-]+)/, 'Keyword: <em>\2</em>'))%></h2>
        <% elsif sanitize(@query) =~ /tag:[a-zA-Z0-9 _-]+/ %>
            <h2>Browsing by <%= sanitize(@query.gsub(/([a-zA-Z]+:)([a-zA-Z0-9 _-]+)/, 'Tag: <em>\2</em>'))%></h2>
        <% elsif sanitize(@query) =~ /author_id:[a-zA-Z0-9 _-]+/ %>
            <% author = User.find(@query.split(':')[1]) %>
            <h2><%= sanitize(@query.gsub(/([a-zA-Z _-]+:)([a-zA-Z0-9 _-]+)/, 'Resources &amp; Learning Collections Created by: ')) + '<em>'.html_safe + author.name  + '</em>'.html_safe%></h2>
        <% else %>
           <!-- <h2>Results for <%= sanitize(@query) %></h2>-->
        <% end %>
    <% end %>
  </div>
</div>

<div class="row" class="row" id="quick_search_tabs">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
        <% 
            active = nil
            if(@collection_objects.total_entries > 0) 
        %>
            <li <%= (active.nil? ? "class='active'" : "").html_safe %>>
                <a data-toggle="tab" href="#tab_collection_object_results">UMMA objects (<%= @collection_objects.total_entries %>)</a>
            </li> 
            <%  active = 'collection_objects' if active.nil? %>    
        <% end %>
        <% if(@resources.total_entries > 0) %>
            <li <%= (active.nil? ? "class='active'" : "").html_safe %>>
                <a data-toggle="tab" href="#tab_resource_results">Resources  (<%= @resources.total_entries %>)</a>
            </li>    
            <% active = 'resources' if active.nil? %>    
        <% end %>
        <% if(@collections.total_entries > 0) %>
            <li <%= (active.nil? ? "class='active'" : "").html_safe %>>
                <a data-toggle="tab" href="#tab_collection_results">Learning collections  (<%= @collections.total_entries %>)</a>
            </li>   
            <% active = 'collections' if active.nil? %>     
        <% end %>
        <% if(@is_staff && @crcsets.total_entries > 0) %>
            <li <%= (active.nil? ? "class='active'" : "").html_safe %>>
                <a data-toggle="tab" href="#tab_crcset_results">CRC Sets  (<%= @crcsets.total_entries %>)</a>
            </li> 
            <% active = 'crcsets' if active.nil? %>       
        <% end %>
        <% if(@exhibitions.total_entries > 0) %>
            <li <%= (active.nil? ? "class='active'" : "").html_safe %>>
                <a data-toggle="tab" href="#tab_exhibition_results">Exhibitions (<%= @exhibitions.total_entries %>)</a>
            </li>  
            <% active = 'exhibitions' if active.nil? %>      
        <% end %>
    </ul>

    <div class="tab-content" id="query_search_content">
        <% @show = true %>
        <% if(@collection_objects.total_entries > 0) %>
            <div id="tab_collection_object_results" class="tab-pane <%= ((active == 'collection_objects') ? "active" : "").html_safe %>">
                <%= render :partial => "quick_search/collection_object_results" %>
                <% @show = false %>
            </div>
        <% end %>
        <% if(@resources.total_entries > 0) %>
            <div id="tab_resource_results" class="tab-pane <%= ((active == 'resources') ? "active" : "").html_safe %>">
                <%= render :partial => "quick_search/resource_results" %>
                <% @show = false %>
            </div>
        <% end %>
        <% if(@collections.total_entries > 0) %>
            <div id="tab_collection_results" class="tab-pane <%= ((active == 'collections') ? "active" : "").html_safe %>">
                <%= render :partial => "quick_search/collection_results" %>
                <% @show = false %>
            </div>
        <% end %>
        <% if(@is_staff && @crcsets.total_entries > 0) %>
            <div id="tab_crcset_results" class="tab-pane <%= ((active == 'crcsets') ? "active" : "").html_safe %>">
                <%= render :partial => "quick_search/crc_set_results" %>
                <% @show = false %>
            </div>
        <% end %>
        <% if(@exhibitions.total_entries > 0) %>
            <div id="tab_exhibition_results" class="tab-pane <%= ((active == 'exhibitions') ? "active" : "").html_safe %>">
                <%= render :partial => "quick_search/exhibition_results" %>
                <% @show = false %>
            </div>
        <% end %>
    </div>
  </div><!-- end col -->
</div><!-- end row -->

<script>
    jQuery(document).on('shown.bs.tab', '#quick_search_tabs', function(event) {
        var target = $(event.target).attr("href");
       
       var type, url, items_per_page, fsort;
       switch(target) {
            case '#tab_resource_results':
                type = 'resource';
                url = "<%= query_results_path(type: "resource", page: @resources_page, query: @query) %>";
                items_per_page = <%= @items_per_page_defaults['resource'] %>;
                fsort = "<%= @sort_defaults['resource'] %>";
                break;
            case '#tab_collection_results':
                type = 'collection';
                url = "<%= query_results_path(type: "collection", page: @collections_page, query: @query) %>";
                items_per_page = <%= @items_per_page_defaults['collection'] %>;
                fsort = "<%= @sort_defaults['collection'] %>";
                break;
            case '#tab_crcset_results':
                type = 'crcset';
                url = "<%= query_results_path(type: "crcset", page: @crcsets_page, query: @query) %>";
                items_per_page = <%= @items_per_page_defaults['crcset'] %>;
                fsort = "<%= @sort_defaults['crcset'] %>";
                break;
       }
       
        if (jQuery("#results_" + type + " .panel-body").length == 0) {
         jQuery.getJSON(url + "?length=" + items_per_page + "&sort=" + fsort, function(data) {
             jQuery("#results_" + type).html(data.html);
             return true;
         });
        }
    });
</script>

<div class="loading">Loading&#8230;</div>