<div class="container" id="advancedSearchContainer">
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right"><button type="button" class="btn btn-noBg" onClick="$('#advancedSearchContainer').slideToggle(); return false;"><i class="fa fa-times-circle fa-3" aria-hidden="true"></i><span class="sr-only">Close</span></button></div>
      <H3>Advanced Search</H3>
      <div class="panel panel-default"><div class="panel-body"><form action="<%= url_for("/advanced_search/query") %>">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="advType">Item Type</label>
              <select class="form-control" name="type" id="advType">
                <option value="-1" selected="true">All</option>
                <option value="<%= Resource::COLLECTION %>">Learning Collection</option>
                <option value="<%= Resource::RESOURCE %>">Resource</option>
                <option value="<%= Resource::COLLECTION_OBJECT%>">UMMA Collection Object</option>
                <!-- <option value="<%= Resource::EXHIBITION %>">UMMA Exhibition</option>-->
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="advTitle">Title</label>
              <input class="form-control" type="text" name="title" id="advTitle">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="advKeywords">Keywords</label>
              <input class="form-control" type="text" name="keywords" id="advKeywords">
            </div>
          </div>
        </div><!-- end row -->
        <div class="row">
          <div class="form-group">
            <div class="col-md-12"><label class="control-label" for="roles">Created For</label></div>
            <div class="affiliationRow">
              <%=
                buf = ''
                Rails.application.config.x.user_roles.each do |k,v|
                  next if (v == :admin)
                  buf += "<div class='col-md-2 affiliationItem'>" + check_box_tag("roles[]", v.to_s, false, {id: "roles_" + v.to_s}) + ' ' + k.to_s + "</div>"
                end
                buf.html_safe
              %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-md-12"><label class="control-label" for="roles">Rating</label>
              <div class="ratingRow">
                Between <select class="rating" name="min_rating" id="minRating">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
                and
                <select class="rating" name="max_rating" id="maxRating">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5" selected>5</option>
                </select>

                <img src="/assets/mortarboard_on.png" alt="Mortarboard" width="29" height="20"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row additionalFields" id="advancedSearchCollectionObject">
          <div class="col-sm-12">
            <HR/><br/>
            <H3>UMMA Collection Object Specific Fields</H3>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advStyle">Style, Group, Movement</label>
              <input class="form-control" type="text" name="style" id="advStyle">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advMedium">Medium and Support</label>
              <input class="form-control" type="text" name="medium" id="advMedium">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advClassification">Classification/ Object Type</label>
              <input class="form-control" type="text" name="classification" id="advClassification">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advAdditionalClassification">Additional Classification/ Object Type</label>
              <input class="form-control" type="text" name="additional_classification" id="advAdditionalClassification">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advArtist">Artist/Maker</label>
              <input class="form-control" type="text" name="artist" id="advArtist">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advArtistNationality">Artist Maker Nationality</label>
              <input class="form-control" type="text" name="artist_nationality" id="advArtistNationality">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advCreditLine">Credit Line</label>
              <input class="form-control" type="text" name="credit_line" id="advCreditLine">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advPlaces">Related Places</label>
              <input class="form-control" type="text" name="places" id="advPlaces">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group text-left">
              <label class="control-label" for="advOnDisplay"><input type="checkbox" name="on_display" id="advOnDisplay"> Currently on Display</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advDateCreated">Date Created</label>
              <input class="form-control" type="text" name="date_created" id="advDateCreated">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advOtherDates">Other Dates</label>
              <input class="form-control" type="text" name="other_dates" id="advOtherDates">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advCurrentLocation">Current Location</label>
              <%= autocomplete_field_tag(:current_location, "", autocomplete_current_location_path(0), :"data-autocomplete-label" => "Sorry, no matches found.", :size => 40, class:'form-control', id:'advCurrentLocation') %>
            </div>
          </div>
        </div>
        <div class="row additionalFields" id="advancedSearchExhibition">
          <div class="col-sm-12">
            <HR/><br/>
            <H3>UMMA Exhibition Additional Fields</H3>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advExhibitionArtist">Artist/Maker</label>
              <input class="form-control" type="text" name="exhibition_artist" id="advExhibitionArtist">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advExhibitionArtistNationality">Artist Maker Nationality</label>
              <input class="form-control" type="text" name="exhibition_artist_nationality" id="advExhibitionArtistNationality">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advExhibitionDates">Exhibition dates</label>
              <input class="form-control" type="text" name="exhibition_dates" id="advExhibitionDates">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advLocation">Location</label>
              <input class="form-control" type="text" name="exhibition_location" id="advLocation">
            </div>
          </div>
        </div>
        <div class="row additionalFields" id="advancedSearchResource">
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="advCurrentLocation">Author</label>
              <%= autocomplete_field_tag(:author_lookup, "", autocomplete_author_path(0), :"data-autocomplete-label" => "Sorry, no matches found.", :size => 40, class:'form-control', id:'advAuthor', :id_element => "#resource_author_id",) %>
              <%= hidden_field_tag("author_id", 0, :id => :resource_author_id) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <br/><input class="btn btn-default" value="Search" type="submit"></input>
          </div>
        </div>
      </form></div></div>
    </div>
  </div>
  <div class="fullDivideWrapper">
    <div class="fullDivide"></div>
  </div><br/><br/>
</div><!-- end advancedSearchContainer -->
<script type="text/javascript">
    $(document).ready(function(){
        $("#advType")[0].selectedIndex = 0;
        $('#advType').change(function() {
            $('.additionalFields').hide();
            if ($('#advType').val() == '<%= Resource::COLLECTION_OBJECT %>'){
                $('#advancedSearchCollectionObject').slideDown();
            }else if($('#advType').val() == '<%= Resource::EXHIBITION %>'){
                $('#advancedSearchExhibition').slideDown();
            } else {
                $('#advancedSearchResource').slideDown();
            }
        });
    });
</script>

<div class="container" id="queryBuilderContainer">
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right"><button type="button" class="btn btn-noBg" onClick="$('#queryBuilderContainer').slideToggle(); return false;"><i class="fa fa-times-circle fa-3" aria-hidden="true"></i><span class="sr-only">Close</span></button></div>
      <H3>Query builder</H3>
      <div class="panel panel-default"><div class="panel-body"><form id="queryBuilderForm" action="<%= url_for("/quick_search/query") %>">
        <div id="builderUI"></div>
        <script>
            $(document).ready(function() {
                $('#builderUI').queryBuilder({
                    operators: ['equal', 'not_equal', 'between', 'begins_with', 'contains'],
                    filters: <%= get_filters_for_query_builder(current_user).to_json.html_safe %>
                });

                if (sessionStorage.getItem('qrules')) {
                    $('#builderUI').queryBuilder('setRules', JSON.parse(sessionStorage.getItem('qrules')));
                }

                $("#queryBuilderForm").on("submit", function(e) {
                    var q = $('#builderUI').queryBuilder('getESQueryStringQuery');
                    var rules = $('#builderUI').queryBuilder('getRules');

                    if (rules && (s = JSON.stringify(rules))){
                        sessionStorage.setItem('qrules', s);
                    }

                    if (!q) {
                        e.preventDefault();
                        return false;
                    }
                    $("#queryBuilderFormQ").val(q);
                    return true;
                });
            });
        </script>
        <input type="submit" value="Search"/>
        <input type="button" value="Reset" onclick="$('#builderUI').queryBuilder('reset'); return false;"/>
        <input type="hidden" id="queryBuilderFormQ" name="q" value=""/>
        <div class="pull-right"><a href="#" id="launchQueryGuide"><h6><i class="fa fa-question-circle-o" aria-hidden="true"></i> How to Use the Query Builder</h6></a></div>
      </form>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                var query_tour = new Tour({
                    name:"builderTour",
                    steps: [{
                        title: 'How to Use the Query Builder',
                        content: 'The Query builder gives you the ability to created detailed and accurate search queries by adding terms in through this visual tool. Through this you can see available search terms and add and remove terms to create the best search for your needs. Click "Next" to see how you can create queries!',
                        orphan: true
                    },{
                        title: 'Query Rules',
                        element: '#builderUI_rule_0>.rule-filter-container',
                        placement: 'right',
                        content: 'The builder centers on adding "rules" or individual search terms and describing the relationships between them. Each rule searches a specific term on a specific field. Select the field you would like to search and enter the term to search on in. ',
                        onNext: function (query_tour){ $('#builderUI_rule_0>.rule-filter-container>select').val('keyword'); $('#builderUI_rule_0>.rule-filter-container>select>option:eq(3)').trigger('change'); },
                    },{
                        title: 'Search Value',
                        element: '#builderUI_rule_0>.rule-value-container',
                        placement: 'right',
                        content: 'Depending on the field you select you will be able to either type in your search term, or for fields with controlled lists of terms, you will be provided in a drop-down list to select from.<br/><br/>At this point you can search or choose to continue to add rules to be more specific in your query',
                    },{
                        title: 'Rules and Groups',
                        element: '#builderUI_group_0>.rules-group-header>.group-actions',
                        placement: 'left',
                        content: 'Rules are the basic search queries that each apply to a single field. Groups are multiple rules that can be applied together using either AND or OR to control how they are applied when searching. For example a group could be "support = paper OR support = board". Any number of these individual Rules can be added to a Group.<br/><br/>Multiple groups can then be combined to create more complex searches. The above example could be paired with another group, "Artist Nationality = USA OR Artist Nationality = Candada" to create a query that searches for works created by North American artists on paper or board.<br/><br/>Click either of these buttons to add new Rules or Groups to your query.'
                    },{
                        title: 'Remove a Rule',
                        element: '#builderUI_rule_0>.rule-header>.rule-actions',
                        placement: 'left',
                        content: 'Click "Remove" to delete a Rule (or Group) at any time',
                    },{
                        title: 'Controlling AND &amp; OR',
                        element: '#builderUI_group_0>.rules-group-header>.group-conditions',
                        placement: 'right',
                        content: 'Select either "AND" or "OR" to set how your Rules and Groups relate to each other. These can be toggled during the course of creating a query.<br/><br/>They can be assigned independently to relate Groups and to the Rules within groups. So a set of Rules can be related through AND while the Rules within each group are related through OR.'
                    },{
                        title: 'Submit your Query!',
                        content: 'Once you\'ve created your query hit "Search" to see your results. The query builder is available from every page on the Exchange. See the Exchange <a href="/user_guide" target="_blank">User Guide</a> for more information on the Query Builder and searches in general',
                        orphan: true
                    }],
                    container: "body",
                    debug: true,
                    backdrop: true,
                    orphan: false,
                    template: '<div class="popover tour"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div><div class="popover-navigation"><button class="btn btn-default" data-role="end">End tour</button><button class="btn btn-default" data-role="prev">« Prev</button><span data-role="separator">\t</span><button class="btn btn-default" data-role="next">Next »</button></div></div>'
                });
                localStorage.clear();

                query_tour.init();
                $('#launchQueryGuide').click(function(){
                    query_tour.restart();
                    query_tour.start();
                });

                jQuery("#advType").val(<%= Resource::COLLECTION_OBJECT%>);
                jQuery("#advType").change()
            });
        </script>
      </div>
      </div>
    </div>
  </div>
</div>
