<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exchange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exmenu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://umma.umich.edu/" class="navbar-brand"><%= image_tag('ummaLogo.png').html_safe %></a>
      <!--<%= link_to image_tag('ummaLogo.jpg')+' The Exchange'.html_safe, root_url, class: 'navbar-brand' %>-->
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="#">Art</a></li>
        <li><a href="#">Happenings</a></li>
        <li><a href="#">Learn</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Support</a></li>
        <li class="firsticon icon"><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
        <li class="icon"><a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  
  <div id="subnavbar"><div class="container">
	<div class="navTitle"><%= link_to '<span class="topLine">The</span><br/>Exchange'.html_safe, root_url, class: '' %></div>
	<div id="exmenu" class="navbar-collapse collapse navbar-right">
  		<ul class="nav navbar-nav">
        <li><a href="#">Featured Collections</a></li>
        <li><a href="#">About</a></li>
      	<li class="dropdown">
      		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Exchange</a>
      		<ul class="dropdown-menu" role="menu">
       			<%= render 'devise/menu/registration_items' %>
        		<%= render 'devise/menu/login_items' %>
      		</ul>
      	</li>
      </ul>
      <%= form_tag({ controller: '/quick_search', action: 'query' }, method: 'get', class: 'navbar-form navbar-right') do %>
        <div class="quickSearch"><%= text_field_tag(:q, nil, class: 'form-control', placeholder: 'Search') %><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></div>
      <% end %>
  	
  	<div style="clear:both;"></div></div><!--/.nav-collapse -->
  </div><!--/container --></div><!--/.subnavbar -->
</nav>

<div class="container">
  <% if flash[:notice] %>
    <div class="col-md-12"><div class="panel panel-default"><div class="panel-body">
      <div class="flash-notice">
        <%= flash[:notice] %>
      </div>
    </div></div></div>
  <% end %>
  <% if flash[:error] %>
    <div class="col-md-12"><div class="panel panel-default"><div class="panel-body">
      <div class="flash-error">
        <%= flash[:error] %>
      </div>
    </div></div></div>
  <% end %>
  <%= yield %>
</div>
<div id="footer">
	<div class="container">
		&copy; UMMA 2015
		<ul class="pull-right list-inline">
			<li><a href="#">link</a></li>
			<li><a href="#">link</a></li>
			<li><a href="#">link</a></li>
		</ul>
	</div>
</div>

</body>
</html>
<!-- make menu have dropshadow when leaving the about section.-->
<!--<script>
jQuery(document).ready(function() {	
		$(window).scroll(function() {    
			var scroll = $(window).scrollTop();

			if (scroll >= 30) {
				$(".navbar").addClass("shadowed");
			} else {
				$(".navbar").removeClass("shadowed");
			}
		});
});
</script>-->