<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if content_for?(:page_title) %>
    <%= content_for(:page_title) %>
  <% else %>
    <title>Exchange</title>
  <% end %>
  <%= stylesheet_link_tag '/assets/mirador/css/mirador-combined.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'https://static.addtoany.com/menu/page.js' %>
 
  <%= csrf_meta_tags %>

  <%= javascript_include_tag '/assets/mirador/mirador.js' %>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="subnavbar">
  <div class="container">
  
    <div class="navbar-header">
    	<div class="navLogo"><%= link_to image_tag('ummaWhiteFade.png').html_safe, root_url, class: '' %></div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exmenu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  
  
  	<div id="exmenu" class="navbar-collapse collapse navbar-right">
  		<ul class="nav navbar-nav">
        <li><%= link_to("Featured", featured_path) %></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About</a>
			<ul class="dropdown-menu" role="menu">
				<%= render 'devise/menu/about_items' %>
			</ul>
		</li>
      	<li class="dropdown">
      		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Exchange</a>
      		<ul class="dropdown-menu" role="menu">
       			<%= render 'devise/menu/registration_items' %>
        		<%= render 'devise/menu/login_items' %>
      		</ul>
      	</li>
<% if (current_user && (current_user.has_role?(:admin))) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to("Users", users_path) %></li>
            <li><%= link_to("Featured sets", featured_content_sets_path) %></li>
          </ul>
        </li>
        <% else %>
		<li><a href="http://umma.umich.edu/">UMMA Home</a></li>
        <% end %>
      </ul>
      <%= form_tag({ controller: '/quick_search', action: 'query' }, method: 'get', class: 'navbar-form navbar-right tour-search-form') do %>
        <div class="quickSearch">
        	<%= text_field_tag(:q, nil, class: 'form-control', placeholder: 'Search') %><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        	<div id="advSearchLink"><a href="#" onClick="$('#queryBuilderContainer').slideUp(250, function() { $('#advancedSearchContainer').slideToggle(); }); return false;">Advanced Search</a></div>
          <div id="queryBuilderLink"><a href="#" onClick="$('#advancedSearchContainer').slideUp(250, function() { $('#queryBuilderContainer').slideToggle(); } ); return false;">Builder</a></div>
        </div>
      <% end %>
  	
  	<div style="clear:both;"></div></div><!--/.nav-collapse -->
  </div><!--/container -->
</nav>
<%= render(partial:'layouts/advanced_search_form') %>
<div class="container tour-dashboard">
  <% if flash[:notice] %>
    <div class="col-md-12"><div class="panel panel-default"><div class="panel-body">
      <div class="flash-notice">
        <%= flash[:notice] %>
      </div>
    </div></div></div>
  <% end %>
  <% if flash[:error] %>
    <div class="col-md-12"><div class="panel panel-default"><div class="panel-body">
      <div class="flash-error">
        <%= flash[:error] %>
      </div>
    </div></div></div>
  <% end %>
  <%= yield %>
</div>
<div id="footer">
	<div id="footer1">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 enewsletter">
            <!-- Begin MailChimp Signup Form -->

            <form id="mc-embedded-subscribe-form" method="POST" name="mc-embedded-subscribe-form" class="validate" novalidate>
				Sign up for our enewsletter
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="enter email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="" tabindex="-1" value=""></div>
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>

            <!--End mc_embed_signup-->
				</div>
				<div class="col-sm-6 social">
					<a href="http://annex.umma.umich.edu/"><i class="fa fa-tumblr"><span class="sr-only">Tumblr</span></i></a>
					<a href="https://www.flickr.com/photos/umma_museum/"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><span class="sr-only">Flickr</span></a>
					<a href="https://www.youtube.com/user/UMMAVideos"><i class="fa fa-youtube-play"><span class="sr-only">YouTube</span></i></a>
					<a href="https://twitter.com/ummamuseum"><i class="fa fa-twitter"><span class="sr-only">Twitter</span></i></a>
					<a href="https://www.facebook.com/ummamuseum"><i class="fa fa-facebook"><span class="sr-only">Facebook</span></i></a>
					<a href="http://umich.edu"><%= image_tag('BlockM.png').html_safe %></a>
				</div>
			</div>
		</div>
	</div>
	<div id="footer2">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 footer-hours">
					<div id="footerArrow"><a href="#" onClick="$('#footer1').toggle('slide', {direction: 'down'}, 200); return false;"><i class="fa fa-sort-asc"></i></a></div>
					<span id='hours'>Admission to the the museum is always free. <a href="http://umma.umich.edu/plan-your-visit#hours">Hours</a></span>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="copyright">
						Copyright &copy;2016 Regents of the University of Michigan | <a href="http://umma.umich.edu/privacy">Privacy Policy</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
<!-- show extra footer bar when scroll down -->
<script>
	jQuery(document).ready(function() {	
		$(window).scroll(function() {    			
			if($(window).scrollTop() + $(window).height() == $(document).height()) {
	
				$('#footer1').show("slide", {direction: "down" }, 200);
			}else{
				$('#footer1').hide("slide", {direction: "down" }, 200);
			}
		});
		$('#hours').load('http://umma.umich.edu/admin/external-content/footerhours');
		
	});
</script>
